.page-calendar {
    .calendar-head {
        display: flex;
        align-items: flex-start;
        margin: 32px 32px 16px;
        border-bottom: 1px solid #F4F4F5;
        .calendar-titbox {
            flex: 1;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            .calendar-title {
                display: flex;
                align-items: center;
                > h1 {
                    color: #333333;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            .calendar-arrow {
                margin-left: 36px;
                > button {
                    color: #888888;
                    font-size: 12px;
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
            .calendar-view {
                margin-left: 36px;
                flex: 1;
                display: flex;
                justify-content: flex-end;
                > button {
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .calendar-box {
        padding: 0 48px;
        .calendar-wrapper {
            flex: 1;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: #ffffff;
                z-index: 1;
            }
            .tui-full-calendar-popup-creation {
                .tui-full-calendar-popup-section {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 6px;
                }
                .tui-full-calendar-section-title {
                    width: 100%;
                }
                .tui-full-calendar-section-start-date,
                .tui-full-calendar-section-end-date {
                    width: 210px;
                }
                .tui-full-calendar-popup-location,
                .tui-full-calendar-section-private,
                .tui-full-calendar-section-allday,
                .tui-full-calendar-section-state {
                    display: none;
                }
            }
            .tui-full-calendar-popup-task {
                .priority {
                    color: #ffffff;
                    padding: 2px 3px;
                    border-radius: 4px;
                }
                .tui-full-calendar-calendar-dot,
                .tui-full-calendar-ic-priority {
                    opacity: 0;
                }
            }
            .tui-datepicker {
                .tui-calendar {
                    th,
                    td {
                        height: 35px;
                    }
                    .tui-calendar-prev-month.tui-calendar-date,
                    .tui-calendar-next-month.tui-calendar-date {
                        visibility: visible;
                    }
                }
                .tui-datepicker-body .tui-timepicker,
                .tui-datepicker-footer .tui-timepicker {
                    padding: 16px 46px 16px 47px;
                }
            }
        }
    }
}
