.page-messenger {
    display: flex;
    .messenger-wrapper {
        flex: 1;
        display: flex;
        align-items: flex-start;
        .messenger-select {
            position: relative;
            height: 100%;
            width: 30%;
            min-width: 240px;
            max-width: 320px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 1px;
                background-color: #f4f5f5;
            }
            .messenger-search {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 54px;
                padding: 0 12px;
                flex-shrink: 0;
                .search-wrapper {
                    flex: 1;
                    background-color: #F7F7F7;
                    padding: 0 8px;
                    margin: 0 4px;
                    border-radius: 12px;
                    overflow: hidden;
                    .ivu-input {
                        border-color: transparent;
                        background-color: transparent;
                        &:hover,
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
            .messenger-nav {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 2px 0 12px;
                > p {
                    position: relative;
                    line-height: 1;
                    padding: 0 6px;
                    color: #888888;
                    cursor: pointer;
                    .nav-num {
                        position: absolute;
                        top: -12px;
                        right: -8px;
                        transform: scale(0.7);
                    }
                    &.active {
                        color: #555555;
                        font-weight: 500;
                    }
                    &:hover {
                        color: #777777;
                    }
                }
            }
            .messenger-list {
                flex: 1;
                height: 0;
                width: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                > ul {
                    &.dialog {
                        > li {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 14px 10px;
                            position: relative;
                            cursor: pointer;
                            list-style: none;
                            margin-right: 1px;
                            border: 2px solid transparent;
                            .user-avatar,
                            .icon-avatar {
                                width: 42px;
                                height: 42px;
                                margin: 2px;
                                flex-grow: 0;
                                flex-shrink: 0;
                            }
                            .icon-avatar {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                font-size: 26px;
                                background-color: #61B2F9;
                                color: #ffffff;
                                &.project {
                                    background-color: #6E99EB;
                                }
                                &.task {
                                    background-color: #9B96DF;
                                    font-size: 24px;
                                }
                            }
                            .dialog-box {
                                flex: 1;
                                width: 0;
                                display: flex;
                                flex-direction: column;
                                padding-left: 12px;
                                .dialog-title {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    line-height: 24px;
                                    .ivu-tag {
                                        margin: 0 4px 0 0;
                                        padding: 0 5px;
                                        &.ivu-tag-success {
                                            padding: 0 6px;
                                        }
                                    }
                                    > span {
                                        flex: 1;
                                        color: #333333;
                                        font-size: 14px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                    > i {
                                        flex-shrink: 0;
                                        margin-left: 8px;
                                        transform: scale(0.9);
                                        font-size: 12px;
                                        color: $primary-color;
                                        &.completed {
                                            font-size: 18px;
                                            margin: 0 4px 0 0;
                                            transform: scale(1);
                                        }
                                    }
                                    > em {
                                        flex-shrink: 0;
                                        margin-left: 8px;
                                        font-style: normal;
                                        color: #999999;
                                        font-size: 12px;
                                    }
                                }
                                .dialog-text {
                                    max-width: 170px;
                                    color: #999999;
                                    font-size: 12px;
                                    line-height: 24px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            .dialog-num {
                                position: absolute;
                                top: 10px;
                                left: 42px;
                                transform: scale(0.8);
                            }
                            &.top {
                                background-color: #EEEFF1;
                            }
                            &.active {
                                background-color: #F4F5F7;
                            }
                            &.operate {
                                border-color: $primary-color;
                            }
                            &.loading {
                                margin: 0;
                                height: 52px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .common-loading {
                                    width: 20px;
                                    height: 20px;
                                    margin: 0;
                                }
                            }
                            &.completed {
                                &:after {
                                    content: "\f373";
                                    font-family: Ionicons, serif;
                                    pointer-events: none;
                                    position: absolute;
                                    bottom: 0;
                                    right: 12px;
                                    font-size: 28px;
                                    color: #19be6b;
                                    opacity: .2;
                                    z-index: 1;
                                }
                                .dialog-box {
                                    .dialog-text {
                                        padding-right: 36px;
                                    }
                                }
                            }
                        }
                    }
                    &.contacts {
                        > li {
                            list-style: none;
                            margin-left: 24px;
                            position: relative;
                            .label {
                                padding-left: 4px;
                                margin-top: 6px;
                                margin-bottom: 6px;
                                height: 34px;
                                line-height: 34px;
                                border-bottom: 1px solid #efefef;
                            }
                            &.loading,
                            &.loaded {
                                margin: 0;
                                height: 52px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .common-loading {
                                    width: 20px;
                                    height: 20px;
                                    margin: 0;
                                }
                            }
                            > ul {
                                > li {
                                    list-style: none;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    height: 52px;
                                    cursor: pointer;
                                    .avatar {
                                        flex-grow: 0;
                                        flex-shrink: 0;
                                        width: 30px;
                                        height: 30px;
                                    }
                                    .nickname {
                                        padding: 0 12px;
                                        font-size: 14px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                        }
                    }
                }
                .top-operate {
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: 0;
                    display: flex;
                }
            }
            .messenger-menu {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 52px;
                flex-shrink: 0;
                border-top: 1px solid #f4f5f5;
                .menu-icon {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    .menu-num {
                        position: absolute;
                        top: 4px;
                        left: 50%;
                        margin-left: 3px;
                        transform: scale(0.8);
                    }
                    > i {
                        cursor: pointer;
                        font-size: 24px;
                        margin: 0 24px;
                        color: #aaaaaa;
                        opacity: 0.9;
                        &.active {
                            opacity: 1;
                            color: $primary-color;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .messenger-msg {
            flex: 1;
            width: 0;
            height: 100%;
            display: flex;
            position: relative;
            .dialog-wrapper {
                .dialog-footer {
                    .dialog-back {
                        display: none;
                    }
                }
            }
            .msg-dialog-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .msg-dialog-bg-icon {
                    background-color: #f4f5f7;
                    padding: 20px;
                    border-radius: 50%;
                    .ivu-icon {
                        color: #d1d8dd;
                        font-size: 46px;
                    }
                }
                .msg-dialog-bg-text {
                    margin-top: 16px;
                    color: #bec6cc;
                    background-color: #f4f5f7;
                    padding: 4px 15px;
                    border-radius: 14px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .page-messenger {
        .messenger-wrapper {
            .messenger-select {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-width: none;
                background-color: #ffffff;
                z-index: 48;
                transition: all 0.2s;
                transform: translateX(-120%);
                &.show768-menu {
                    transform: translateX(0);
                }
            }
            .messenger-msg {
                .dialog-wrapper {
                    .dialog-nav {
                        height: 54px;
                        justify-content: center;
                        .dialog-title {
                            flex: 0;
                            width: auto;
                        }
                    }
                    .dialog-footer {
                        position: relative;
                        .dialog-back {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 64px;
                            height: 49px;
                            z-index: 1;
                            font-size: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .dialog-input {
                            width: calc(100% - 44px);
                        }
                    }
                }
            }
        }
    }
}
