.page-calendar {
    display: flex;
    flex-direction: column;
    .calendar-head {
        display: flex;
        align-items: flex-start;
        margin: 32px 32px 16px;
        border-bottom: 1px solid #F4F4F5;
        .calendar-titbox {
            flex: 1;
            margin-bottom: 16px;
            .calendar-title {
                display: flex;
                align-items: center;
                > h1 {
                    color: #333333;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
        }
    }
    .calendar-box {
        flex: 1;
        height: 0;
        display: flex;
        margin-bottom: 16px;
    }
}
