.page-project {
    flex: 1;
    display: flex;
    align-items: flex-start;
    .project-list {
        flex: 1;
        width: 0;
        height: 100%;
        background-color: #fafafa;
    }
    .project-dialog {
        position: relative;
        height: 100%;
        width: 35%;
        min-width: 320px;
        max-width: 520px;
        flex-shrink: 0;
    }
}

@media (max-width: 768px) {
    .page-project {
        .project-list {
            height: auto;
            &.gantt {
                height: 100%;
            }
        }
        .project-dialog {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            max-width: none;
        }
    }
}
