.page-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    .page-warp {
        max-width: 1920px;
        margin: 0 auto;

        .page-header {
            width: 100%;
            background: #8bcf70;
            position: relative;
            padding-bottom: 40px;

            .header-nav {
                max-width: 1200px;
                height: 72px;
                margin: auto;
                display: flex;
                justify-content: space-between;

                .header-nav-box {
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    color: #ffffff;
                    font-weight: 400;
                    position: relative;

                    .logo {
                        width: 143px;
                        height: 36px;
                        background: url("../images/logo-index.svg") no-repeat center center;
                        background-size: contain;
                    }

                    .header-right-one {
                        display: flex;

                        .header-right-one-language {
                            margin-right: 8px;
                            font-size: 26px;
                        }

                        .header-right-one-dropdown {
                            color: #ffffff;
                            font-size: 16px;
                        }
                    }

                    .header-right-two {
                        font-size: 16px;
                        margin: 0 30px 0 30px;
                        cursor: pointer;
                    }

                    .header-right-three {
                        font-size: 16px;
                        min-width: 100px;
                        height: 36px;
                        background: #ffa25a;
                        border-radius: 4px;
                        text-align: center;
                        line-height: 36px;
                        cursor: pointer;
                        padding: 0 10px 0 10px;
                    }

                    .header-right-four {
                        font-size: 16px;
                        margin-left: 30px;
                        cursor: pointer;

                        .ivu-dropdown {
                            .ivu-dropdown-rel {
                                .header-right-one-dropdown {
                                    color: #ffffff;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .header-nav-boxs {
                    justify-content: flex-end;
                    padding-right: 20px;

                    .header-nav-more {
                        color: #fff;
                        font-size: 36px;
                    }
                }
            }

            .header-content {
                max-width: 1200px;
                margin: 0 auto;

                .header-title {
                    font-size: 44px;
                    font-weight: 500;
                    color: #ffffff;
                    line-height: 67px;
                    text-align: center;
                }

                .header-title-one {
                    font-size: 48px;
                    margin-top: 40px;
                }

                .header-tips {
                    font-size: 22px;
                    font-weight: 400;
                    color: #ffffff;
                    line-height: 36px;
                    text-align: center;
                    padding: 0 30px;
                    margin: 22px auto 0;
                    max-width: 88%;
                }

                .login-buttom {
                    width: 150px;
                    height: 48px;
                    background: #ffa25a;
                    border-radius: 8px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #ffffff;
                    line-height: 48px;
                    text-align: center;
                    margin: 34px auto 0;
                    cursor: pointer;
                }
            }
        }

        .page-header-bottom {
            position: relative;
            background: #FFFFFF url("../images/index/bg-bottom.svg") no-repeat;
            background-size: 100%;
            margin-bottom: 190px;
            margin-top: -2px;

            .page-header-bottoms {
                max-width: 1200px;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;

                img {
                    display: block;
                    margin: auto;
                    width: 80%;
                }
            }
        }

        .page-main {
            max-width: 1200px;
            margin: auto;

            .page-main-row {
                margin-bottom: 150px;
            }

            .page-main-rows {
                margin-bottom: 140px;
            }

            .page-main-img {
                img {
                    width: 100%;
                }
            }

            .page-main-imgs {
                img {
                    display: block;
                    width: 90%;
                    margin: auto;
                }
            }

            .page-main-text {
                padding-left: 60px;
                padding-top: 120px;

                h3 {
                    font-size: 32px;
                    font-weight: 500;
                    color: #333333;
                    line-height: 45px;
                    margin-bottom: 17px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: #828282;
                    line-height: 28px;
                    padding-right: 70px;
                }
            }

            .page-main-texts {
                padding-top: 40px;

                h3 {
                    display: flex;
                    align-items: center;
                    font-size: 30px;

                    img {
                        margin-right: 10px;
                    }
                }

                p {
                    font-size: 16px;
                }
            }
        }

        .page-footer {
            .footer-service {
                width: 100%;
                height: 188px;
                background-color: #ffa25a;
                position: relative;

                .footer-bg-box {
                    overflow: hidden;
                    width: 100%;
                    height: 188px;

                    .box-title {
                        height: 45px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #ffffff;
                        line-height: 45px;
                        text-align: center;
                        margin: 33px 0 22px 0;
                    }

                    .buttom-box {
                        display: flex;
                        justify-content: center;

                        .login-btn {
                            width: 150px;
                            height: 48px;
                            background: #ffffff;
                            border-radius: 8px;
                            font-size: 14px;
                            font-weight: 500;
                            color: #ffa25a;
                            line-height: 48px;
                            text-align: center;
                            margin-right: 20px;
                            cursor: pointer;
                        }

                        .reg-btn {
                            width: 150px;
                            height: 48px;
                            border-radius: 8px;
                            border: 1px solid #ffffff;
                            font-size: 14px;
                            font-weight: 500;
                            color: #ffffff;
                            line-height: 48px;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
            }

            .footer-copyright {
                width: 100%;
                height: 60px;
                background: #ffffff;
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                color: #828282;
                line-height: 60px;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .page-index {
        .page-warp {
            .page-header {
                .header-content {
                    .header-title {
                        font-size: 34px;
                        line-height: 60px;
                    }

                    .header-title-one {
                        font-size: 40px;
                    }

                    .header-tips {
                        font-size: 20px;
                        padding: 0 20px;
                    }
                }
            }

            .page-header-bottom {
                margin-bottom: 100px;
            }

            .page-main {
                .page-main-text {
                    padding-left: 20px;
                    padding-top: 80px;

                    p {
                        padding-right: 20px;
                    }
                }

                .page-main-texts {
                    h3 {
                        font-size: 24px;

                        img {
                            width: 24px;
                        }
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 468px) {
    .page-index {
        .page-warp {
            .page-header {
                .header-content {
                    .header-title {
                        font-size: 24px;
                        line-height: 38px;
                    }

                    .header-title-one {
                        font-size: 28px;
                    }

                    .header-tips {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}
