.page-setting {
    display: flex;
    flex-direction: column;
    .setting-head {
        display: flex;
        align-items: center;
        margin: 32px 32px 16px;
        border-bottom: 1px solid #F4F4F5;
        .setting-titbox {
            flex: 1;
            margin-bottom: 16px;
            .setting-title {
                display: flex;
                align-items: center;
                > h1 {
                    flex: 1;
                    color: #333333;
                    font-size: 28px;
                    font-weight: 600;
                }
                .setting-more {
                    display: none;
                }
            }
        }
    }
    .setting-box {
        flex: 1;
        height: 0;
        display: flex;
        padding-bottom: 16px;
        .setting-menu {
            width: 200px;
            flex-shrink: 0;
            border-right: 1px solid #F4F4F5;
            overflow: auto;
            > ul {
                padding: 12px 0 0 32px;
                > li {
                    cursor: pointer;
                    color: #6b6e72;
                    list-style: none;
                    line-height: 42px;
                    padding: 0 20px;
                    margin: 5px 0;
                    position: relative;
                    display: flex;
                    align-items: center;

                    .ivu-badge {
                        transform: scale(0.8);
                        transform-origin: right center;
                    }

                    &.active,
                    &:hover {
                        background-color: #F4F5F7;
                    }

                    &.version {
                        cursor: default;
                        &:hover {
                            background-color: transparent;
                        }
                    }

                    &.divided {
                        position: relative;
                        margin-top: 10px;
                        padding-top: 10px;
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            height: 1px;
                            background-color: #F4F4F5;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            top: 1px;
                            left: 0;
                            right: 0;
                            z-index: 2;
                            height: 9px;
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
        .setting-content {
            flex: 1;
            overflow: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            .setting-content-title {
                font-size: 20px;
                font-weight: 500;
                padding: 12px 32px;
            }
            .setting-content-view {
                flex: 1;
                position: relative;
                .setting-router-view {
                    padding: 24px 40px;
                }
            }
        }
    }
    .setting-item {
        .ivu-input,
        .ivu-select-selection {
            max-width: 460px;
        }
        .ivu-form {
            overflow: auto;
        }
        .setting-color,
        .setting-template {
            min-width: 400px;
            max-width: 600px;
            margin-bottom: 12px;
            > div {
                text-align: center;
                padding-right: 12px;
                &:first-child {
                    text-align: left;
                }
                &:last-child {
                    padding-right: 0;
                    width: 60px;
                    flex: auto;
                    flex-shrink: 0;
                }
                .ivu-color-picker {
                    width: 100%;
                }
            }
            .information {
                color: #999999;
            }
        }
        .setting-template {
            > div {
                flex-shrink: 0;
                text-align: left;
                &:last-child {
                    flex: 1;
                    width: auto;
                    max-width: none;
                }
            }
        }
        .setting-footer {
            > button {
                height: 34px;
                line-height: 32px;
                min-width: 94px;
            }
        }
        .setting-auto-day {
            display: block;
            width: 110px;
            margin-top: 12px;
            line-height: 32px;
            margin-bottom: -10px;
        }
        &.submit {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            padding: 0 !important;
            .ivu-form {
                flex: 1;
                padding: 24px 40px;
                overflow: auto;
            }
            .ivu-tabs {
                flex: 1;
                padding: 16px 32px 0;
                display: flex;
                flex-direction: column;
                .ivu-tabs-content {
                    flex: 1;
                    height: 0;
                    .ivu-tabs-tabpane {
                        position: relative;
                        .setting-component-item {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            .ivu-form {
                                padding: 8px 12px;
                            }
                            .setting-footer {
                                margin: 0 -32px;
                            }
                            .email-setting-box {
                                position: relative;
                                padding: 36px 24px 4px;
                                margin: 24px 0 12px;
                                border-radius: 8px;
                                border: 1px solid #eeeeee;
                                transition: box-shadow 0.3s;
                                &:hover {
                                    box-shadow: 0 0 10px #e6ecfa;
                                }
                                h3 {
                                    position: absolute;
                                    top: 0;
                                    left: 24px;
                                    padding: 4px 10px;
                                    border-radius: 4px;
                                    display: inline-block;
                                    background-color: #ffffff;
                                    border: 1px solid #eeeeee;
                                    font-size: 15px;
                                    font-weight: 500;
                                    transform: translateY(-50%);
                                }
                            }
                            .email-setting-placeholder {
                                height: 8px;
                            }
                        }
                    }
                }
            }
            .setting-footer {
                flex-shrink: 0;
                position: static;
                padding: 16px 24px 0;
                border-top: 1px solid #F4F4F5;
            }
        }
    }
}

@media (max-width: 768px) {
    .page-setting {
        .setting-head {
            .setting-titbox {
                .setting-title {
                    .setting-more {
                        display: flex;
                        font-size: 24px;
                        width: 42px;
                        height: 42px;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .setting-box {
            position: relative;
            .setting-menu {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 9;
                transition: all 0.2s;
                background-color: #ffffff;
                transform: translateX(-120%);
                &.show768-menu {
                    transform: translateX(0);
                }
                > ul {
                    padding: 12px 32px;
                }
            }
        }
    }
}
