.page-messenger {
    display: flex;
    .messenger-wrapper {
        flex: 1;
        display: flex;
        align-items: flex-start;
        .messenger-select {
            position: relative;
            height: 100%;
            width: 30%;
            min-width: 240px;
            max-width: 320px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 1px;
                background-color: #f2f2f2;
            }
            .messenger-search {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 54px;
                padding: 0 12px;
                flex-shrink: 0;
                .search-wrapper {
                    flex: 1;
                    background-color: #F7F7F7;
                    padding: 0 8px;
                    margin: 0 4px;
                    border-radius: 12px;
                    overflow: hidden;
                    .ivu-input {
                        border-color: transparent;
                        background-color: transparent;
                        &:hover,
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
            .messenger-list {
                flex: 1;
                height: 0;
                width: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                > ul {
                    &.dialog {
                        > li {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 80px;
                            padding: 0 12px;
                            position: relative;
                            cursor: pointer;
                            list-style: none;
                            &.active {
                                background-color: #F4F5F7;
                            }
                            &.loading {
                                margin: 0;
                                height: 52px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .common-loading {
                                    width: 20px;
                                    height: 20px;
                                    margin: 0;
                                }
                            }
                            .user-avatar,
                            .icon-avatar {
                                width: 46px;
                                height: 46px;
                                flex-grow: 0;
                                flex-shrink: 0;
                            }
                            .icon-avatar {
                                line-height: 46px;
                                border-radius: 50%;
                                font-size: 26px;
                                background-color: #61B2F9;
                                color: #ffffff;
                            }
                            .dialog-box {
                                flex: 1;
                                width: 0;
                                display: flex;
                                flex-direction: column;
                                padding-left: 12px;
                                .dialog-title {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    line-height: 24px;
                                    > span {
                                        flex: 1;
                                        color: #333333;
                                        font-size: 14px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                    > i {
                                        flex-shrink: 0;
                                        margin-left: 8px;
                                        transform: scale(0.9);
                                        font-size: 12px;
                                        color: #87d068;
                                    }
                                    > em {
                                        flex-shrink: 0;
                                        margin-left: 8px;
                                        font-style: normal;
                                        color: #999999;
                                        font-size: 12px;
                                    }
                                }
                                .dialog-text {
                                    max-width: 170px;
                                    color: #999999;
                                    font-size: 12px;
                                    line-height: 24px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            .dialog-num {
                                position: absolute;
                                top: 10px;
                                left: 42px;
                                font-size: 12px;
                                transform: scale(0.8);
                            }
                        }
                    }
                    &.contacts {
                        > li {
                            list-style: none;
                            margin-left: 24px;
                            position: relative;
                            .label {
                                padding-left: 4px;
                                margin-top: 6px;
                                margin-bottom: 6px;
                                height: 34px;
                                line-height: 34px;
                                border-bottom: 1px solid #efefef;
                            }
                            &.loading {
                                margin: 0;
                                height: 52px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .common-loading {
                                    width: 20px;
                                    height: 20px;
                                    margin: 0;
                                }
                            }
                            > ul {
                                > li {
                                    list-style: none;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    height: 52px;
                                    cursor: pointer;
                                    .avatar {
                                        flex-grow: 0;
                                        flex-shrink: 0;
                                        width: 30px;
                                        height: 30px;
                                    }
                                    .nickname {
                                        padding: 0 12px;
                                        font-size: 14px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .messenger-menu {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 54px;
                flex-shrink: 0;
                border-top: 1px solid #f2f2f2;
                > i {
                    cursor: pointer;
                    font-size: 28px;
                    margin: 0 24px;
                    color: #aaaaaa;
                    opacity: 0.9;
                    &.active {
                        opacity: 1;
                        color: #2d8cf0;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        .messenger-msg {
            flex: 1;
            width: 0;
            height: 100%;
            display: flex;
            position: relative;
            .dialog-no {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .dialog-no-icon {
                    background-color: #f4f5f7;
                    padding: 20px;
                    border-radius: 50%;
                    .ivu-icon {
                        color: #d1d8dd;
                        font-size: 46px;
                    }
                }
                .dialog-no-text {
                    margin-top: 16px;
                    color: #bec6cc;
                    background-color: #f4f5f7;
                    padding: 4px 15px;
                    border-radius: 14px;
                }
            }
        }
    }
}
