.page-calendar {
    display: flex;
    flex-direction: column;

    .calendar-head {
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;
        margin: 32px 32px 16px;
        border-bottom: 1px solid #F4F4F5;

        .calendar-titbox {
            flex: 1;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            gap: 2px;

            .calendar-title {
                display: flex;
                align-items: center;
                margin-right: 24px;

                > h1 {
                    color: $primary-title-color;
                    font-size: 28px;
                    font-weight: 600;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }

            .calendar-nav {
                flex-shrink: 0;
                display: flex;
                align-items: center;

                .calendar-arrow {
                    flex-shrink: 0;
                    margin-left: 12px;

                    > button {
                        color: #888888;
                        font-size: 12px;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

            .calendar-view {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                margin-left: 24px;

                > button {
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .calendar-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 32px 6px;
        overflow: hidden;
    }

    .toastui-calendar-grid-cell-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 5px;
        overflow: hidden;

        .toastui-calendar-grid-cell-more-events {
            padding-right: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .toastui-calendar-grid-cell-date {
        .toastui-calendar-weekday-grid-date {
            &.toastui-calendar-weekday-grid-date-decorator {
                background-color: $primary-color;
            }
        }
    }

    .toastui-calendar-daygrid-cell {
        + .toastui-calendar-daygrid-cell {
            border-left-color: #f4f5f5;
        }
    }
}

body.window-portrait {
    .page-calendar {
        .calendar-head {
            margin: 24px 16px 16px;

            .calendar-titbox {
                display: flex;
                justify-content: space-between;
                position: relative;
                padding-bottom: 32px;

                .calendar-nav {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .calendar-box {
            padding: 0;
        }
    }
}


