.page-project {
    flex: 1;
    display: flex;
    align-items: flex-start;
    .project-panel {
        flex: 1;
        width: 0;
        height: 100%;
        background-color: #fafafa;
    }
    .project-dialog {
        position: relative;
        height: 100%;
        width: 35%;
        min-width: 320px;
        max-width: 520px;
        flex-shrink: 0;
    }
}

@media (max-height: 700px) {
    .page-project {
        .project-panel {
            height: auto;
            min-height: 100%;
            &.gantt {
                height: 100%;
            }
        }
    }
}
