.page-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    .dashboard-warning {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-right: 14px;
        position: fixed;
        top: 0;
        z-index: 2;
        > span {
            cursor: pointer;
        }
    }

    .dashboard-wrapper {
        width: 100%;
        height: auto;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        width: 1px;
        align-items: flex-start;
        height: 100%;
        flex: 1;
        padding: 32px 4%;

        .dashboard-hello {
            display: flex;
            .tite{
                width: 1px;
                flex: 1;
                padding-right: 30px;
                min-height: 41px;
                padding-left: 2px;
            }
            .dashboard-search {
                width: 1px;
                flex-shrink: 0;
                margin-left: 22px;
                cursor: pointer;
                .ivu-poptip{
                    float: right;
                    margin-left: auto;
                    .ivu-poptip-body{
                        padding:8px;
                        ul{
                            li{
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                padding: 8px 10px;
                                border-radius: 6px;
                                cursor: pointer;
                                color: #999999;
                                &:hover{
                                    color: #8FCE78;
                                }
                                &.selected{
                                    color: #8FCE78;
                                }
                            }
                            .empty{
                                text-align: center;
                                color: #999999 !important;
                            }
                        }
                    }
                }
                .ivu-input-wrapper {
                    max-width: 100%;
                    margin-left: auto;
                    width: auto;
                    transform: translateZ(0);
                    .ivu-input {
                        border-color: #dcdee2;
                        width: 0;
                        padding-left: 0;
                        padding-right: 38px;
                        border-radius: 32px;
                        transition: all 0.3s;
                        font-size: 14px;
                    }
                    .ivu-input-suffix {
                        width: 40px;
                        i {
                            width: 40px;
                            color: $primary-text-color;
                        }
                    }
                }
                .has-value,
                &:hover {
                    .ivu-input-wrapper {
                        .ivu-input {
                            width: 250px;
                            padding-left: 14px;
                        }
                    }
                }
                .selected{
                    .ivu-input-wrapper {
                        .ivu-input {
                            color: #8FCE78;
                        }
                    }
                }
            }

        }


        .dashboard-hello,
        .dashboard-desc ,
        .dashboard-block ,
        .dashboard-list .dashboard-title,
        .dashboard-list .dashboard-ul {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
        }
        .dashboard-hello {
            color: $primary-title-color;
            font-size: 24px;
            font-weight: 600;
            word-wrap: break-word;
        }
        .dashboard-desc {
            display: flex;
            align-items: center;
            margin-top: 18px;
            color: #888888;
            font-size: 13px;
            .dashboard-load {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                margin: 0 0 0 4px;
            }
        }
        .dashboard-block {
            margin-top: 18px;
            display: flex;
            > li {
                flex: 1;
                flex-shrink: 0;
                list-style: none;
                margin-right: 24px;
                border-radius: 8px;
                padding: 16px 24px;
                background-color: #fa8e8c;
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
                transition: transform 0.3s ease-out 0s, box-shadow 0.3s ease-out 0s;
                &:first-child {
                    background-color: #6f9ef6;
                }
                &:last-child {
                    background-color: #98de6e;
                    margin-right: 0;
                }
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 2px 10px 0 #fa8e8c;
                    &:first-child {
                        box-shadow: 0 2px 10px 0 #6f9ef6;
                    }
                    &:last-child {
                        box-shadow: 0 2px 10px 0 #98de6e;
                    }
                }
                .block-title {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 12px;
                }
                .block-data {
                    display: flex;
                    align-items: center;
                    padding-top: 10px;
                    line-height: 1;
                    .block-num {
                        flex: 1;
                        color: #ffffff;
                        font-weight: 600;
                        font-size: 32px;
                    }
                    .taskfont {
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 20px;
                    }
                }
            }
        }
        .dashboard-list {
            width: 100%;
            margin-top: 22px;
            .dashboard-ref {
                height: 0;
            }
            .dashboard-title {
                position: sticky;
                top: 0;
                z-index: 1;
                margin: 0 auto;
                height: 46px;
                line-height: 46px;
                font-weight: 600;
                font-size: 15px;
                background-color: #ffffff;
            }
            .dashboard-ul {
                margin: 0 auto 18px;
                padding: 6px 0 0;
                overflow: hidden;
                > li {
                    position: relative;
                    list-style: none;
                    display: flex;
                    background: #F9FAFB;
                    padding: 12px;
                    margin-bottom: 8px;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: box-shadow 0.3s ease-out 0s;
                    &:hover {
                        box-shadow: 0 0 6px #dfdfdf;
                    }
                    &.complete {
                        .item-title {
                            opacity: 0.5;
                            text-decoration: line-through;
                        }
                        .item-icon {
                            display: none;
                        }
                    }
                    .priority-color {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        height: 12px;
                        width: 2px;
                    }
                    .item-select {
                        flex-shrink: 0;
                        width: 22px;
                        height: 22px;
                        line-height: 22px;
                        .taskfont {
                            color: #bbbbbb;
                            font-size: 18px;
                        }
                    }
                    .item-title {
                        flex: 1;
                        padding-left: 6px;
                        line-height: 22px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        > span {
                            font-size: 12px;
                            height: 18px;
                            min-width: 20px;
                            line-height: 16px;
                            padding: 0 2px;
                            border-radius: 3px;
                            color: $primary-color;
                            border: 1px solid $primary-color;
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 3px;
                            margin-right: 3px;
                            text-align: center;
                            &.start {
                                background-color: rgba($flow-status-start-color, 0.1);
                                border-color: rgba($flow-status-start-color, 0.1);
                                color: $flow-status-start-color;
                            }
                            &.progress {
                                background-color: rgba($flow-status-progress-color, 0.1);
                                border-color: rgba($flow-status-progress-color, 0.1);
                                color: $flow-status-progress-color;
                            }
                            &.test {
                                background-color: rgba($flow-status-test-color, 0.1);
                                border-color: rgba($flow-status-test-color, 0.1);
                                color: $flow-status-test-color;
                            }
                            &.end {
                                background-color: rgba($flow-status-end-color, 0.1);
                                border-color: rgba($flow-status-end-color, 0.1);
                                color: $flow-status-end-color;
                            }
                        }
                    }
                    .item-icon {
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                        margin-left: 16px;
                        height: 22px;
                        color: #aaaaaa;
                        cursor: pointer;
                        .taskfont {
                            font-size: 13px;
                        }
                        > em {
                            font-style: normal;
                            margin-left: 4px;
                        }
                        &.overdue {
                            color: #ed4014;
                        }
                        &.today {
                            color: #ff9900;
                        }
                    }
                }
            }
        }
    }

    .dashboard-calendar{
        width: 35%;
        min-width:400px;
        height: 100%;
        border-left: 1px solid #F4F5F7;
        padding: 32px 24px 24px;
        @media (max-width: 980px) {
            display: none;
        }
    }

    .nopage {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .nopage-icon {
            border-radius: 50%;
            .ivu-icon {
                color: #d1d8dd;
                font-size: 46px;
            }
        }
        .nopage-text {
            margin-top: 16px;
            color: #bec6cc;
            padding: 4px 15px;
            border-radius: 14px;
            margin-bottom: 60px;
        }
    }
}

// 加载状态（延时显示，立即隐藏）
.dashboard-load-enter-active {
    transition: opacity 0.3s ease;
    transition-delay: 1s;
}

.dashboard-load-leave-active {
    transition: opacity 0.2s ease;
    transition-delay: 0s;
}

.dashboard-load-enter,
.dashboard-load-leave-to {
    opacity: 0;
}

body.window-touch {
    .page-messenger {
        .messenger-wrapper {
            .messenger-select {
                .messenger-list {
                    user-select: none;
                }
            }
        }
    }
}

body.window-portrait {
    .page-dashboard {
        .dashboard-wrapper {
            display: block;
            padding-top: 20px;
            .dashboard-hello,
            .dashboard-desc ,
            .dashboard-block ,
            .dashboard-list .dashboard-title,
            .dashboard-list .dashboard-ul {
                max-width: 96%;
            }
            .dashboard-block {
                display: block;
                margin-top: 10px;
                > li {
                    margin: 0 0 10px;
                    padding: 8px 12px;
                }
            }
            .dashboard-list {
                height: auto;
                padding-bottom: 2px;
                .scrollbar-content {
                    overflow: visible;
                }
                .dashboard-ul {
                    margin-bottom: 36px;
                    user-select: none;
                }
            }
            .dashboard-hello{
                position: relative;
                .tite{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .dashboard-search {
                    .has-value,
                    .selected,
                    &:hover {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        .ivu-input-wrapper {
                            .ivu-input {
                                width: 100%;
                            }
                        }
                        .ivu-poptip,
                        .ivu-poptip-rel,
                        .ivu-poptip-rel .selected,
                        .ivu-input-wrapper{
                            height: 42px;
                            width: 100%;
                            .ivu-input {
                                float: right;
                                padding-left: 14px;
                            }
                        }
                    }
                }
                .ivu-poptip-popper{
                    width: 90% !important;
                }
            }
        }
        .nopage{
            margin-top: 30px;
        }
    }
}
