.page-download {
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .download-load {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .download-body {
        position: relative;
        margin-top: 50px;
        .orb-canvas-1 {
            position: absolute;
            top: 0;
            left: 50%;
            width: 500px;
            height: 500px;
            z-index: -1;
            background: linear-gradient(rgba(186, 117, 255, 0.49) 26.56%, rgb(57, 19, 184) 100%);
            opacity: .1;
            transform: translate(-50%, 0) rotate(-90deg);
            margin-top: 20px;
            margin-left: -50px;
            border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
        }
        .orb-canvas-2 {
            position: absolute;
            top: 0;
            left: 50%;
            width: 500px;
            height: 500px;
            background: linear-gradient(rgba(47, 184, 255, 0.42) 31.77%, rgb(158, 236, 217) 100%);
            z-index: -1;
            animation: 25s ease 0s infinite alternate none running izRuqW;
            opacity: .1;
            transform: translate(-50%, 0) rotate(-90deg);
            margin-top: 120px;
            margin-left: 50px;
            border-radius: 51% 49% 58% 42% / 34% 78% 22% 66%;
        }
        .download-name {
            color: #2A2A2A;
            text-align: center;
            font-size: 24px;
            padding-top: 64px;
            line-height: 1;
        }
        .download-version {
            color: #8a919c;
            text-align: center;
            font-size: 14px;
            padding-top: 20px;
            line-height: 1;
        }
        .download-list {
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            > li {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                background: rgba(255,255,255,.7);
                border-radius: 20px;
                overflow: hidden;
                margin: 0 12px;
                padding: 30px 46px;
                position: relative;
                z-index: 5;
                box-shadow: 0 30px 70px 0 rgba(223, 227, 234, 0.5);
                .app-icon,
                .app-name,
                .app-size {
                    transition: all 0.3s ease-in-out;
                }
                .app-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 60px;
                    > i {
                        font-size: 60px;
                        &.ivu-icon-logo-windows {
                            font-size: 52px;
                        }
                    }
                }
                .app-name {
                    margin-top: 15px;
                    font-size: 18px;
                }
                .app-size {
                    margin-top: 15px;
                    opacity: 0.6;
                }
                .app-button {
                    margin-top: 22px;
                    > a {
                        display: inline-block;
                        position: relative;
                        z-index: 1;
                        line-height: 32px;
                        border-radius: 6px;
                        text-align: center;
                        padding: 0 18px;
                        text-transform: capitalize;
                        transition: all 0.3s ease-in-out;
                        color: #8bcf70;
                        border: 1px solid #8bcf70;
                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            border-radius: 36px;
                            transition: all 0.3s ease-in-out;
                            transform: scale(0,1);
                            z-index: -1;
                        }
                        &:hover {
                            &:before {
                                border-radius: 4px;
                                background: #ffffff;
                                transform: scale(1);
                            }
                        }
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    top:0;
                    left:0;
                    background: linear-gradient( 130deg, rgb(131,239,146) 0%, rgb(0,211,139) 100%);
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    background: rgba(255,255,255,0.13);
                    z-index: -1;
                    top:-80px;
                    right: -80px;
                    opacity: 0;
                    transform: scale(0.2);
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    .app-icon,
                    .app-name,
                    .app-size {
                        color: #ffffff
                    }
                    .app-button {
                        > a {
                            color: #ffffff;
                            border-color: #ffffff;
                            &:hover {
                                color: #0de49d;
                            }
                        }
                    }
                    &:before {
                        opacity: 1;
                    }
                    &:after {
                        opacity: 1;
                        transform: scale(1);
                        transition-duration: 1s;
                    }
                }
            }
            @media (max-width: 720px) {
                flex-direction: column;
                > li {
                    padding: 52px 64px;
                    margin-bottom: 32px;
                }
            }
        }
    }
    &.manage-box-view {
        display: flex;
        align-items: center;
        justify-content: center;
        .download-body {
            transform: translateY(-16%);
            .download-name {
                padding-top: 16%;
            }
        }
    }
}

