.page-apply {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .apply-wrapper {
        flex: 1;
        height: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #fafafa;

        .apply-head {
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            margin: 32px 32px 0 32px;
            border-bottom: 1px solid #f6f6f6;

            .apply-nav {
                flex: 1;
                display: flex;
                align-items: center;

                > h1 {
                    color: $primary-title-color;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
        }

        .apply-content {
            flex: 1;
            padding: 16px 30px;
            overflow: auto;

            .apply-row-title {
                margin-bottom: 16px;

            }

            > div.apply-row-title:nth-last-child(2) {
                margin-top: 22px !important;
            }

            .apply-col {
                margin-bottom: 16px;

                > div {
                    font-size: 14px;
                    font-weight: normal;
                    background: #FFFFFF;
                    color: #333333;
                    border-radius: 8px;
                    padding: 12px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    position: relative;
                    border: 1px solid #f1f1f1;

                    > .logo {
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                    }

                    > p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }

                    .apply-box-top-report {
                        position: absolute;
                        right: -16px;
                        top: -16px;
                        padding: 8px;
                    }
                }
            }
        }

        @media (max-width: 510px) {
            background-color: #FFFFFF;

            .apply-row-title {
                margin-bottom: 8px !important;
            }

            .apply-content {

                .ivu-row {
                    margin-left: -12px !important;
                    margin-right: -12px !important;
                }

                .apply-col {
                    margin-bottom: 6px;

                    > div {
                        display: block;
                        text-align: center;
                        padding: 12px 0;
                        background: none;
                        border-color: #ffffff;

                        .logo {
                            margin-bottom: 8px;
                            position: relative;
                        }

                        > p {
                            -webkit-line-clamp: 1;
                        }

                        .apply-box-top-report {
                            right: -20px;
                            top: -20px;
                        }
                    }
                }
            }
        }

    }
}

.apply-icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &.approve {
        background-image: url("../images/application/approve.svg");
    }

    &.add-project {
        background-image: url("../images/application/add-project.svg");
    }

    &.add-task {
        background-image: url("../images/application/add-task.svg");
    }

    &.all-user {
        background-image: url("../images/application/all-user.svg");
    }

    &.complaint {
        background-image: url("../images/application/complaint.svg");
    }

    &.app-push {
        background-image: url("../images/application/app-push.svg");
    }

    &.approve {
        background-image: url("../images/application/approve.svg");
    }

    &.calendar {
        background-image: url("../images/application/calendar.svg");
    }

    &.file {
        background-image: url("../images/application/file.svg");
    }

    &.ldap {
        background-image: url("../images/application/ldap.svg");
    }

    &.mail {
        background-image: url("../images/application/mail.svg");
    }

    &.meeting {
        background-image: url("../images/application/meeting.svg");
    }

    &.meeting-create {
        background-image: url("../images/application/meeting-create.svg");
    }

    &.meeting-join {
        background-image: url("../images/application/meeting-join.svg");
    }

    &.okr {
        background-image: url("../images/application/okr.svg");
    }

    &.okr-analyze {
        background-image: url("../images/application/okr-analyze.svg");
    }

    &.report {
        background-image: url("../images/application/report.svg");
    }

    &.robot {
        background-image: url("../images/application/robot.svg");
    }

    &.scan {
        background-image: url("../images/application/scan.svg");
    }

    &.setting {
        background-image: url("../images/application/setting.svg");
    }

    &.signin {
        background-image: url("../images/application/signin.svg");
    }

    &.vote {
        background-image: url("../images/application/vote.svg");
    }

    &.word-chain {
        background-image: url("../images/application/word-chain.svg");
    }
}

.ivu-modal-wrap-apply {
    position: relative;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow: auto;

    .ivu-modal-wrap-apply-title {
        line-height: 40px;
        font-size: 20px;
        font-weight: 500;
        padding: 12px 30px;
        color: #303133;

        > p {
            float: right;
            cursor: pointer;
            color: #2b85e4;
            font-size: 14px;
        }

        @media (max-width: 500px) {
            margin-right: 28px;
        }

    }

    .ivu-modal-wrap-apply-body {
        position: relative;
        flex: 1;
        padding: 8px 30px;

        .setting-item,
        .setting-component-item {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex: 1;
            display: flex;
            flex-direction: column;

            .ivu-form {
                padding: 8px 30px;
                overflow: auto;
                flex: 1;
            }

            .setting-template {
                margin-bottom: 12px;

                > div {
                    padding-right: 12px;
                }
            }

            .export-data > p {
                cursor: pointer;
                color: #2b85e4;
            }

            .setting-footer {
                flex-shrink: 0;
                position: static;
                padding: 16px 26px;
                border-top: 1px solid #F4F4F5;
                display: flex;
                align-items: center;
                gap: 8px;

                .ivu-btn {
                    min-width: 120px;
                    height: 38px;
                    line-height: 36px;
                    @media (max-width: 500px) {
                        width: 50%;
                    }
                }
            }
        }

        //
        .ivu-tabs {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 0 -30px;

            .ivu-tabs-bar {
                padding: 0 10px;
            }

            .ivu-tabs-content {
                height: 100%;
                flex: 1;
            }
        }

        //
        .ivu-modal-wrap-ul {
            list-style-type: none;
            overflow: hidden;
            border-radius: 3px;
            margin-right: -10px;

            li {
                float: left;
                width: calc(50% - 10px);
                border: 1px solid #eeeeee;
                box-sizing: border-box;
                padding: 28px 20px;
                position: relative;
                text-align: center;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 5px;

                .apply-icon {
                    display: block;
                    width: 50px;
                    height: 50px;
                    border-radius: 16px;
                    margin: 0 auto 12px;
                }

                h4 {
                    word-break: break-all;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-style: normal;
                    max-width: 100%;
                    font-size: 16px;
                    font-weight: 500;
                    color: #1b1b1b;
                    line-height: 24px;
                    text-align: center;
                    padding: 0 12px;
                    margin-bottom: 6px;
                }

                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    @media (max-width: 510px) {
                        -webkit-line-clamp: 2;
                    }
                }

                .desc {
                    cursor: pointer;
                    height: 84px;
                    @media (max-width: 510px) {
                        height: 42px;
                    }
                }

                .btn {
                    color: #2b85e4;
                    margin: 20px auto 0;
                    cursor: pointer;
                    padding: 5px 0;
                }

                .load {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #9797971c;
                    line-height: 300px;
                }
            }
        }

        // 机器人
        .aibot-warp {
            position: relative;
            height: 100%;
        }
    }
}

.mobile-scan-login-box {
    margin: 2px 0 12px;

    .mobile-scan-login-title {
        font-size: 20px;
    }

    .mobile-scan-login-subtitle {
        padding-top: 8px;
    }
}

body.window-portrait {
    .page-apply {
        .apply-head {
            margin: 24px 24px 0 24px;
        }

        .apply-content {
            padding: 16px 20px;

            .apply-col {
                > div {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
}
