/node_modules
/public/hot
/public/tmp
/public/uploads/*
/public/.well-known
/public/.user.ini
/storage/*.key
/vendor
/build
/tmp
._*
.env
.idea
.vscode
.vagrant
.phpunit.result.cache
CHANGELOG.md
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
test.*
package-lock.json
laravels-timer-process.pid
.DS_Store
vars.yaml
laravels.conf
laravels.pid
