.common-app-down {
    position: absolute;
    bottom: 26px;
    right: 26px;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: bottom 0.3s;
    &.on-client {
        &[data-route=login] {
            bottom: 75px;
        }
    }
}

.common-app-down-notification {
    .notification-head {
        display: flex;
        align-items: center;
        .notification-title {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            color: $primary-title-color;
            font-weight: 500;
            margin-right: 6px;
        }
    }
    .notification-body {
        max-height: 210px;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 18px 0;
        .markdown-preview {
            margin: -20px -12px;
            h2 {
                font-size: 18px !important;
                padding-top: 2px !important;
            }
            ul {
                li {
                    padding: 2px 0 2px 2px !important;
                    &:after {
                        top: 10px !important;
                        width: 6px !important;
                        height: 6px !important;
                    }
                }
            }
        }
    }
    .notification-link {
        margin-top: 20px;
        text-align: right;
        > button + button {
            margin-left: 6px;
        }
    }
}
.common-app-down-link {
    display: inline-block;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #8bcf70;
    border-color: #8bcf70;
    &:hover {
        color: #fff;
        opacity: 0.9;
    }
}
