.common-drawer-overlay {
    .ivu-modal {
        margin: 0;
        padding: 0;

        .ivu-modal-content {
            background: transparent;

            .ivu-modal-close {
                display: none;
            }

            .ivu-modal-body {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-content: flex-end;
            }
        }
    }

    .overlay-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        z-index: 2;
        position: relative;

        .overlay-close {
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            > a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                color: #fff;

                .icon {
                    width: 24px;
                    height: 24px
                }

                > svg {
                    transition: all 0.3s;
                }

                &:hover {
                    color: #fff;

                    > svg {
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .overlay-resize {
            width: 100%;
            height: 5px;
            margin-bottom: -5px;
            z-index: 1;
        }

        .overlay-content {
            flex: 1;
            position: relative;
            background: #fff;
            border-radius: 18px 18px 0 0;
            transform: translate(0, 0) scale(1);
            cursor: default;
        }
    }

    &.right {
        .ivu-modal {
            .ivu-modal-content {
                .ivu-modal-body {
                    flex-direction: row;
                }
            }
        }

        .overlay-body {
            flex-direction: row;

            .overlay-close {
                align-items: flex-start;
            }

            .overlay-resize {
                width: 5px;
                height: 100%;
                margin-right: -5px;
                z-index: 1;
            }

            .overlay-content {
                border-radius: 18px 0 0 18px;
            }
        }
    }
}

.drawer-slide-bottom-enter-active {
    transition: all .2s ease;
}

.drawer-slide-bottom-leave-active {
    transition: all .2s ease;
}

.drawer-slide-bottom-enter,
.drawer-slide-bottom-leave-to {
    transform: translate(0, 15%) scale(0.98);
    opacity: 0;
}

.drawer-slide-right-enter-active {
    transition: all .2s ease;
}

.drawer-slide-right-leave-active {
    transition: all .2s ease;
}

.drawer-slide-right-enter,
.drawer-slide-right-leave-to {
    transform: translate(15%, 0) scale(0.98);
    opacity: 0;
}
