.common-guide {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    background-color: #000000de;
    padding: 5px 10px;

    >div {
        text-align: center;
        button {
            padding: 0 45px;
        }
    }
}
