.mobile-tabbar {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;

    > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        height: 60px;
        background-color: #f8f8f8;
        box-shadow: 0 0 2px rgba(28, 34, 43, 0.15);

        > li {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            color: $primary-text-color;
            position: relative;

            .taskfont {
                font-size: 24px;
                line-height: 34px;
            }

            .tabbar-title {
                font-size: 12px;
                line-height: 18px;
            }

            .tabbar-badge {
                position: absolute;
                top: 0;
                left: 50%;
                transform: scale(0.8);

                .ivu-badge-count {
                    font-size: 14px;
                }
            }

            &.active {
                color: $primary-color;
            }
        }
    }

    .more-box {
        display: none;
        margin-bottom: -2px;
        border-radius: 16px 16px 0 0;
        background-color: rgba(250, 250, 250, 0.98);
        border-top: 1px solid #f1f1f1;

        .tabbar-more-title {
            font-size: 18px;
            font-weight: 500;
            padding: 14px 14px 0;
        }

        > ul {
            padding: 36px 12px 16px;

            > li {
                list-style: none;
                display: inline-block;
                width: 25%;
                margin-bottom: 20px;

                .more-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .taskfont {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 56px;
                        height: 56px;
                        font-size: 26px;
                        color: #0bc037;
                        background-color: #f1f1f1;
                        border-radius: 12px;
                    }

                    .tabbar-title {
                        padding-top: 6px;
                        font-size: 14px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    &.more-show {
        top: 0;
        background-color: rgba(0, 0, 0, 0.15);

        > ul {
            box-shadow: 0 0 1px rgba(28, 34, 43, 0.15);
        }

        .more-box {
            display: block;
        }
    }
}

.mobile-back {
    display: none;
    position: fixed;
    top: 200px;
    left: -50px;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 50%;
    transform: translate(-460px, -50%);
    transition: left 0.2s;

    &.show-back {
        left: 0;
    }
}

@media (max-width: 640px) {
    .mobile-tabbar {
        display: flex;
    }
    .mobile-back {
        display: block;
    }
}
