.report {
    height: 100%;
    padding: 20px;

    .report-list-wrap {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 53px;
        display: flex;
        flex-direction: column;

        .table-page-box {
            flex: 1;
            height: 0;
        }
    }

    .manage-box-report {
        margin-left: 4px;
        transform: scale(0.8);
        vertical-align: top;
    }

    .ivu-tabs {
        height: 100%;
        position: relative;

        .ivu-tabs-bar {
            position: relative;
            z-index: 2;
            background: #fff;
        }

        .ivu-tabs-content {
            height: 100%;
            width: 100%;
            margin-top: -53px;
            padding-top: 53px;
        }
    }
}

.report-detail {
    display: flex;
    flex-direction: column;
    height: 100%;

    .report-title {
        flex-shrink: 0;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 12px;
        padding: 20px 24px;
        border-bottom: 1px solid #eeeeee;
    }

    .report-detail-context {
        flex: 1;
        height: 0;
        padding: 12px 0 12px 24px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .report-form {
        display: flex;
        margin-bottom: 12px;

        .ivu-form-item {
            flex: 1;
            flex-shrink: 0;

            .ivu-form-item-label {
                padding-top: 8px;
                opacity: 0.8;
            }

            .ivu-form-item-content {
                line-height: 30px;
                display: flex;
                align-items: center;
                .common-avatar {
                    margin-right: 6px;
                }
            }
        }
    }

    .report-content {
        width: 100%;

        h2 {
            margin-bottom: 10px;
        }

        ol {
            margin-bottom: 20px;
            padding-left: 18px;

            li {
                font-size: 14px;
                line-height: 24px;
            }
        }

        img {
            max-width: 100%;
        }
    }
}

.report-edit {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px;

    .ivu-input[disabled] {
        color: #666666;
    }

    .report-content {
        flex: 1 1 auto;
        overflow-y: auto;

        .report-content-editor {
            height: 100%;

            .ivu-form-item-content {
                height: 100%;
                display: flex;

                .teditor-wrapper {
                    flex: 1;
                    display: flex;
                }
            }
        }
    }

    .report-users {
        display: flex;
        align-items: center;

        .common-user {
            flex: 1;
            margin-right: 12px;
        }

        .report-user-link {
            flex-shrink: 0;

            > i {
                font-size: 16px;
                margin-right: 2px;
                transform: rotate(-90deg);
            }
        }
    }

    .report-radiogroup {
        background: #F4F5F7 !important;
        padding: 2px !important;
        border-radius: 4px !important;

        .ivu-radio-wrapper {
            padding: 0 30px !important;
            background: #F4F5F7 !important;
            color: #515A6E !important;
            box-shadow: none !important;
            border: none !important;

            &.ivu-radio-wrapper-disabled {
                color: #c6c6c6 !important;
            }

            &:before {
                width: 0 !important;
            }

            &:after {
                width: 0 !important;
            }
        }

        .ivu-radio-focus {
            box-shadow: none !important;
            border: none !important;

            &:after {
                background: none !important;
            }
        }

        .ivu-radio-wrapper-checked:not(.ivu-radio-wrapper-disabled) {
            background: #fff !important;
            color: #8BCF70 !important;
            box-shadow: none !important;
            border: none !important;
            border-radius: 4px !important;
        }

    }

    .report-buttongroup {
        margin-left: 20px;
        background: #F4F5F7 !important;
        border-radius: 4px;

        .report-buttongroup-vertical {
            position: absolute;
            left: 50%;
            width: 1px;
            height: 15px;
            background-color: #e9e9e9;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
        }

        .ivu-btn-primary {
            background: #F4F5F7 !important;
            box-shadow: none !important;
            border: none !important;
            color: #8BCF70 !important;
            height: 36px;
            line-height: 34px;

            &[disabled] {
                color: #c6c6c6 !important;
            }
        }
    }

    .report-content-editor {
        flex: 1;
        .ivu-form-item-content {
            display: flex;
            height: 100%;
            .teditor-wrapper {
                display: flex;
                flex: 1;
            }
        }
    }

    .report-foot {
        margin-bottom: 0;
        .report-bottom {
            height: 38px;
            line-height: 36px;
            min-width: 120px;
        }
    }
}

