.report {
    height: 100%;
    padding: 20px;

    .report-list-wrap {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 53px;
        display: flex;
        flex-direction: column;

        .table-page-box {
            flex: 1;
            height: 0;
        }
    }

    .manage-box-report {
        margin-left: 4px;
        transform: scale(0.8);
        vertical-align: top;
    }

    .ivu-tabs {
        height: 100%;
        position: relative;

        .ivu-tabs-bar {
            position: relative;
            z-index: 2;
            background: #fff;
        }

        .ivu-tabs-content {
            height: 100%;
            width: 100%;
            margin-top: -53px;
            padding-top: 53px;
        }

        .ivu-tabs-tabpane {

        }
    }
}

.report-detail {
    display: flex;
    flex-direction: column;
    height: 100%;

    .report-title {
        flex-shrink: 0;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 12px;
        padding: 20px 24px;
        border-bottom: 1px solid #eeeeee;
    }

    .report-detail-context {
        flex: 1;
        padding: 12px 0 12px 24px;
        display: flex;
        flex-direction: column;
        height: 0;

        .report-main {
            flex: 1;
            overflow: auto;
            margin-top: 12px;
        }

        .report-submitter {
            p {
                opacity: 0.8;
            }
        }
    }

    .report-profile {
        font-size: 14px;
        padding-right: 24px;
    }

    .report-submitter {
        display: flex;
        flex-wrap: wrap;
        height: 28px;
        line-height: 28px;

        p {
            display: block;
            width: 100%;
            text-align: justify;
            padding-right: 12px;

            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
        }

        & > div {
            margin-right: 8px;
        }
    }

    .ivu-col {
        margin-bottom: 12px;
    }

    .report-content {
        width: 100%;

        h2 {
            margin-bottom: 10px;
        }

        ol {
            margin-bottom: 20px;
            padding-left: 18px;

            li {
                font-size: 14px;
                line-height: 24px;
            }
        }

        img {
            max-width: 100%;
        }
    }
}

.report-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px;

    .report-row-foot {
        flex: 0 0 auto;
    }

    .report-row-content {
        flex: 1 1 auto;
        overflow-y: auto;

        .report-row-content-editor {
            height: 100%;

            .ivu-form-item-content {
                height: 100%;
                display: flex;

                .teditor-wrapper {
                    flex: 1;
                    display: flex;
                }
            }
        }
    }

    .report-row-foot {
        margin-bottom: 0;
    }

    .report-titles {
        line-height: 32px;
    }

    .report-poptip {
        .ivu-tooltip-inner {
            min-width: 60px !important;
            font-size: 12px !important;
        }
    }

    .report-users {
        display: flex;
        align-items: center;

        .common-user {
            flex: 1;
            margin-right: 12px;
        }

        .report-row-a {
            flex-shrink: 0;
        }
    }

    .report-radiogroup {
        background: #F4F5F7 !important;
        padding: 2px !important;
        border-radius: 4px !important;

        .ivu-radio-wrapper {
            padding: 0 30px !important;
            background: #F4F5F7 !important;
            color: #515A6E !important;
            box-shadow: none !important;
            border: none !important;

            &:before {
                width: 0 !important;
            }

            &:after {
                width: 0 !important;
            }
        }

        .ivu-radio-focus {
            box-shadow: none !important;
            border: none !important;

            &:after {
                background: none !important;
            }
        }

        .ivu-radio-wrapper-checked:not(.ivu-radio-wrapper-disabled) {
            background: #fff !important;
            color: #8BCF70 !important;
            box-shadow: none !important;
            border: none !important;
            border-radius: 4px !important;
        }

    }

    .report-buttongroup {
        margin-left: 20px;
        background: #F4F5F7 !important;
        border-radius: 4px;

        .report-buttongroup-vertical {
            position: absolute;
            left: 47px;
            width: 1px;
            height: 23px;
            background-color: #E5E5E5;
            top: 5px;
        }

        .ivu-btn-primary {
            background: #F4F5F7 !important;
            box-shadow: none !important;
            border: none !important;
            color: #8BCF70 !important;
            height: 36px;
            line-height: 34px;

            &[disabled] {
                color: #515A6E !important;
            }
        }
    }
}

.report-row {
    margin-bottom: 20px;

    .report-row-a {
        float: right;
        line-height: 32px;

        .report-row-a-icon {
            transform: rotate(-90deg);
            font-size: 16px;
            margin-right: 2px;
        }
    }

    .report-bottom {
        height: 38px;
        line-height: 36px;
        min-width: 120px;
    }

    .ivu-input[disabled] {
        color: #666666;
    }
}

