.common-right-bottom {
    position: absolute;
    bottom: 22px;
    right: 26px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: bottom 0.3s;

    .common-right-bottom-link {
        display: inline-block;
        cursor: pointer;
        line-height: 32px;
        height: 32px;
        padding: 0 15px;
        margin: 4px 0;
        font-size: 14px;
        border-radius: 4px;
        color: #fff;
        background-color: #8bcf70;
        border-color: #8bcf70;
        &:hover {
            color: #fff;
            opacity: 0.9;
        }
    }
}

.common-right-bottom-notification {
    .ivu-modal-header {
        padding-bottom: 8px !important;
    }
    .notification-head {
        display: flex;
        align-items: center;
        .notification-title {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            color: $primary-title-color;
            font-weight: 500;
            margin-right: 6px;
        }
    }
    .notification-body {
        max-height: 210px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 16px;
        .markdown-preview {
            margin: -20px -12px;
            h1 {
                font-size: 24px;
                margin-bottom: 12px;
                &:first-child {
                    padding-top: 0;
                }
            }
            h2 {
                font-size: 18px !important;
                padding-top: 2px !important;
            }
            ul {
                li {
                    padding: 2px 0 2px 2px !important;
                    &:after {
                        top: 10px !important;
                        width: 6px !important;
                        height: 6px !important;
                    }
                }
            }
        }
    }
    .notification-tip {
        display: inline-block;
        color: #999999;
        line-height: 22px;
        padding-top: 4px;
        font-size: 12px;
    }
    .notification-link {
        margin-top: 20px;
        text-align: right;
        > button + button {
            margin-left: 6px;
        }
    }
}
