@import "~quill/dist/quill.bubble.css";
@import "~quill-mention-hi/dist/quill.mention.min.css";

.chat-input-box {
    display: inline-block;
    width: 100%;

    &.record-ing {
        .chat-input-wrapper {
            .chat-toolbar {
                > li {
                    &.chat-send {
                        &:before {
                            transition: all 1s ease;
                            transform: translate(-50%, -50%) scale(2);
                        }
                    }
                }
            }
        }
    }

    &.record-progress {
        .chat-input-wrapper {
            .ql-container {
                opacity: 0;
            }
            .chat-toolbar {
                > li {
                    &.chat-send {
                        &:before {
                            transition: all 0.3s ease;
                            transform: translate(-50%, -50%) scale(2.5);
                        }
                    }
                    &.chat-record-recwave {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .chat-input-wrapper {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        .ql-container {
            display: block;
            float: left;
            width: auto;
            max-width: 100%;
            min-width: calc(100% - 170px);
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

            .ql-editor {
                font-size: 14px;
                max-height: 200px;
                padding: 0;
                margin: 4px 7px;
                line-height: 22px;

                img {
                    max-width: 150px;
                    max-height: 150px;
                }

                ol,
                ul {
                    padding-left: 0;
                    li {
                        &:before {
                            color: #0088ff;
                            text-align: left;
                            margin-right: 0.2em;
                        }
                    }
                }

                ul {
                    li {
                        &:before {
                            font-weight: 900;
                        }
                    }
                }

                a {
                    &:before,
                    &:after {
                        display: none;
                    }
                }

                &.ql-blank {
                    &::before {
                        left: 7px;
                        right: 7px;
                        color: #ccc;
                        font-style: normal;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .ql-bubble {
            .ql-tooltip {
                z-index: 1;
            }
        }

        .chat-toolbar {
            float: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            user-select: none;
            > li {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .taskfont {
                    display: inline-block;
                    font-size: 20px;
                    line-height: 30px;
                    &.disabled {
                        opacity: 0.5;
                    }
                }
                &.chat-send {
                    width: 48px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 2;
                        transform: translate(-50%, -50%) scale(1);
                        border-radius: 50%;
                        background-color: $primary-color;
                        width: 36px;
                        height: 36px;
                        transition: all 0.3s ease;
                        opacity: 1;
                    }
                    .el-tooltip {
                        height: 30px;
                    }
                    .taskfont {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 3;
                        transform: translate(-50%, -50%) scale(1);
                        transition: all 0.3s ease;
                        color: #ffffff;
                    }
                }
                &.chat-record-recwave {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    background-color: #ffffff;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;
                    visibility: hidden;
                    opacity: 0;
                    > div {
                        flex: 1;
                        width: 100%;
                    }
                }
            }
        }
    }

    .chat-emoji-wrapper {
        .chat-emoji-box {
            width: auto;
            padding: 8px 2px;
            &::after {
                content: "";
                flex: auto;
            }
            > li {
                transition: none;
                &:hover {
                    transform: none;
                }
            }
        }
        .chat-emoji-menu {
            width: 100%;
            padding: 3px 0;
            border-radius: 8px;
            box-sizing: content-box;
            > li {
                position: relative;
                &:before {
                    display: none;
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 36px;
                    height: 36px;
                    border-radius: 8px;
                    transform: translate(-50%, -50%);
                    background-color: #ffffff;
                    z-index: 1;
                }
                > span,
                > img {
                    position: static;
                    z-index: 2;
                }
                &.active {
                    background-color: transparent;
                    &:before {
                        display: block;
                    }
                }
            }
        }
    }
}

.chat-emoji-wrapper {
    display: flex;
    flex-direction: column;

    .chat-emoji-box {
        width: 360px;
        height: 280px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 40px);
        padding: 8px;
        flex-wrap: wrap;
        overflow-x: hidden;
        word-break: break-all;
        box-sizing: content-box;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

        > li {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 22px;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            user-select: none;
            transition: transform 0.3s;
            > img {
                max-width: 100%;
                max-height: 100%;
            }
            &:hover {
                transform: scale(1.4);
            }
        }

        &.emoticon {
            grid-template-columns: repeat(auto-fill, 72px);
            > li {
                width: 72px;
                height: 72px;
                padding: 8px;
            }
        }
    }
    .chat-emoji-menu {
        width: 376px;
        height: 40px;
        line-height: 40px;
        background-color: #f2f4f7;
        display: flex;
        align-items: center;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        > li {
            list-style: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 100%;

            &.active {
                background-color: #fff;
            }

            > span {
                padding: 0 13px;
                font-size: 22px;
            }

            > img {
                width: 24px;
                height: 24px;
                padding: 0 12px;
                box-sizing: content-box;
            }
        }
    }
}

.chat-input-emoji-popover {
    padding: 0;
    overflow: hidden;
}

.chat-input-more-popover {
    min-width: 100px;
    padding: 8px;
    .chat-input-popover-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        line-height: 36px;
        padding: 0 8px;
        border-radius: 4px;

        &:hover {
            background-color: #ecf5ff;
        }
        .taskfont {
            font-size: 20px;
            margin-right: 8px;
        }
    }
}

.chat-input-record-transfer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 14px 26px;
    color: $primary-title-color;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    .record-duration {
        font-size: 20px;
        line-height: 30px;
    }
    .record-loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        .common-loading {
            width: 24px;
            height: 24px;
            margin: 0;
            padding: 0;
        }
    }
    .record-cancel {
        margin-top: 6px;
        opacity: 0.6;
    }
    &.cancel {
        background-color: #ff6565;
        color: #ffffff;
    }
}

.ql-mention-list-container {
    width: auto;
    min-width: 220px;
    max-width: 280px;
    max-height: 360px;
    overflow-y: overlay;

    &.task-mention {
        .ql-mention-list {
            > li {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .ql-mention-list-item {
            line-height: 36px;
            .mention-item-disabled {
                padding: 8px 4px 0;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb:active {
        border-radius: 10px;
        background: rgba(0, 0, 0, .5);
    }

    &:hover::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background: rgba(0, 0, 0, .2);
        background-clip: content-box;
    }

    &:hover::-webkit-scrollbar-thumb:hover {
        border-top-width: 0;
        border-bottom-width: 0;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0);
    }

    .ql-mention-list {
        > li {
            &:first-child {
                margin-top: 8px;
            }
            &:last-child {
                margin-bottom: 8px;
            }
        }
    }

    .ql-mention-list-item {
        padding: 0 8px;
        display: flex;
        align-items: center;
        margin: 0 8px;

        &.selected {
            border-radius: 4px;
        }

        .mention-item-at {
            width: 28px;
            height: 28px;
            line-height: 28px;
            border-radius: 50%;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            overflow: hidden;
        }

        .mention-item-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            > img {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                overflow: hidden;
            }

            > em {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #ff9900;
                border: 1px solid #ffffff;
                transform-origin: right bottom;
                z-index: 1;
            }

            &.online {
                > em {
                    background-color: $primary-color;
                }
            }
        }

        .mention-item-name {
            padding: 0 8px;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .mention-item-tip {
            color: #8f8f8e;
            font-size: 12px;
            font-style: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .mention-item-disabled {
            color: #aaa;
            font-size: 12px;
            padding: 0 4px;
            line-height: 40px;
        }
    }
}

@media (max-width: 768px) {
    .chat-input-box {
        .chat-input-wrapper {
            padding-left: 6px;
            padding-right: 6px;
            background-color: #ffffff;
            .ql-container {
                .ql-editor {
                    font-size: 16px;
                    color: $primary-title-color;
                }
            }
        }
        .chat-emoji-wrapper {
            margin-top: 8px;
            background-color: #ffffff;
            .chat-emoji-box {
                height: 246px;
                grid-template-columns: repeat(auto-fill, 50px);
                > li {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 28px;
                }
                &.emoticon {
                    grid-template-columns: repeat(auto-fill, 80px);
                    > li {
                        width: 80px;
                        height: 80px;
                        padding: 8px;
                    }
                }
            }
            .chat-emoji-menu {
                border-radius: 0;
                background-color: #f8f8f8;
                padding: 4px;
                width: calc(100% - 8px);
                > li {
                    &.active {
                        &:before {
                            background-color: #e1e1e1;
                        }
                    }
                }
            }
        }
    }
}
