body {
    .ivu-modal-wrap {
        &.meeting-manager {
            .ivu-modal {
                .ivu-modal-content {
                    border-radius: 0;
                    .ivu-modal-body {
                        padding: 16px 24px 0;
                        > ul {
                            display: grid;
                            justify-content: space-between;
                            grid-template-columns: repeat(auto-fill, 210px);
                            grid-gap: 24px;
                            > li {
                                list-style: none;
                                position: relative;
                                .meeting-player {
                                    position: relative;
                                    .player {
                                        width: 210px;
                                        height: 210px;;
                                        border-radius: 12px;
                                        position: relative;
                                        z-index: 1;
                                        overflow: hidden;
                                        > * {
                                            z-index: 1;
                                        }
                                        .player-bg {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            background-color: #e1e1e1;
                                            background-size: 136%;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            z-index: 0;
                                        }
                                    }
                                    .player-state {
                                        position: absolute;
                                        top: 4px;
                                        right: 8px;
                                        z-index: 2;
                                        display: flex;
                                        align-items: center;
                                        .taskfont {
                                            color: #ff0000;
                                            font-size: 18px;
                                            margin-left: 8px;
                                        }
                                    }
                                    .meeting-avatar {
                                        position: absolute;
                                        bottom: -8px;
                                        right: -8px;
                                        z-index: 2;
                                    }

                                    .avatar-box {
                                        em {
                                            transform: scale(1.0625);
                                        }

                                        .el-avatar--circle {
                                            border: 1px solid #FFFFFF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.meeting-hidden {
            display: none;
        }
    }
}

body.window-portrait {
    .ivu-modal-wrap {
        &.meeting-manager {
            .ivu-modal {
                .ivu-modal-content {
                    .ivu-modal-body {
                        > ul {
                            grid-template-columns: none;
                            grid-gap: 12px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            > li {
                                width: calc(50% - 6px);
                                max-width: 180px;
                                .meeting-player {
                                    .player {
                                        width: 100%;
                                        height: 176px;;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.meeting-drag-ball {
    position: relative;
    background-color: #ffffff;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(45, 45, 45, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    > i {
        font-size: 20px;
        height: 24px;
        line-height: 24px;
        margin-right: 5px;
    }
    > em {
        font-style: normal;
        padding-left: 4px;
    }
}

.meeting-button-group {
    display: flex;
    justify-content: flex-end;

    .taskfont {
        font-size: 20px;
    }
    .ivu-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        > span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
