.project-task-template {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 60px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @media screen and (min-width: 500px) {
            justify-content: space-between;
        }

        .title {
            color: $primary-title-color;
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            padding-right: 24px;
            display: flex;
            align-items: center;

            .common-loading {
                margin-left: 8px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .content {
        flex: 1;
        padding: 0 20px 20px;
        overflow-y: auto;
        position: relative;

        .empty {
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            color: $primary-text-color;
            > button {
                margin-top: 18px;
            }
        }
    }

    .template-list {
        .template-item {
            padding: 16px 0;
            border-top: 1px solid #F4F4F5;

            .template-title {
                font-weight: 500;
                margin-bottom: 8px;
                height: 22px;
                display: flex;
                align-items: center;
                color: $primary-title-color;

                .default-tag {
                    font-weight: normal;
                    margin-left: 8px;
                    font-size: 12px;
                    padding: 2px 8px;
                    border-radius: 3px;
                    background: #84C56A;
                }
            }

            .template-content {
                color: $primary-text-color;
                font-size: 13px;

                .task-title {
                    margin-bottom: 4px;
                }

                .task-content {
                    color: $primary-desc-color;
                }
            }

            .template-actions {
                margin-top: 4px;
                text-align: right;

                > button {
                    margin: 8px 0 0 8px;
                    height: 28px;
                    padding: 0 12px;
                    font-size: 13px;

                    > i {
                        margin: 0 -2px;
                    }
                }
            }
        }
        .tag-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;
            border-top: 1px solid #F4F4F5;
            .tag-contents {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                margin-right: 8px;
                .tag-title {
                    height: 22px;
                    display: flex;
                    align-items: center;
                    color: $primary-title-color;
                }
                .tag-desc {
                    color: $primary-text-color;
                    font-size: 13px;
                }
            }
            .tag-actions {
                flex-shrink: 0;
                > button {
                    margin: 8px 0 8px 8px;
                    height: 28px;
                    padding: 0 12px;
                    font-size: 13px;

                    > i {
                        margin: 0 -2px;
                    }
                }
            }
        }
    }
}

.project-task-template-system {
    .tip-title {
        margin: -12px 0;
        cursor: pointer;
        color: $primary-color;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        > li {
            list-style: none;
            padding: 0 12px;
            background-color: #f5f5f5;
            border-radius: 18px;
            transition: all 0.3s ease;
            cursor: pointer;
            line-height: 34px;
            height: 34px;

            &.tag {
                padding: 0;
                .tags-box {
                    height: 100%;
                    > li {
                        height: 100%;
                        padding: 0 18px;
                        border-radius: 18px;
                    }
                }
                &.selected {
                    .tags-box {
                        > li {
                            position: relative;
                            padding-left: 34px;
                            &:before {
                                font-family: "taskfont", "serif" !important;
                                content: '\e627';
                                position: absolute;
                                top: 50%;
                                left: 12px;
                                font-size: 16px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }

            &:hover {
                background-color: #e0e0e0;
            }

            &.selected {
                background-color: $primary-color;
                color: white;
            }
        }
    }
}
