.project-list {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .list-search {
        width: 100%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
        padding: 0 12px;
        background-color: #f8f8f8;

        .search-wrapper {
            flex: 1;
            background-color: #ffffff;
            padding: 0 8px;
            margin: 0 4px;
            border-radius: 12px;
            overflow: hidden;

            .ivu-input {
                border-color: transparent;
                background-color: transparent;

                &:hover,
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    > ul {
        flex: 1;
        height: 0;
        width: 100%;
        overflow: auto;
        background-color: #f8f8f8;
        > li {
            padding: 16px;
            margin: 16px;
            border-radius: 12px;
            background-color: #ffffff;
            list-style: none;
            .project-h1 {
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                word-break: break-all;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .project-h2 {
                margin-top: 8px;
                line-height: 22px;
                word-break: break-all;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .project-percent {
                margin-top: 12px;
            }
        }
    }
}
