.task-archived {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .archived-title {
        color: #333333;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 24px;
        display: flex;
        align-items: center;

        .title-icon {
            display: flex;
            align-items: center;
            width: 14px;
            height: 14px;
            margin-left: 4px;
            margin-top: 2px;

            > i {
                cursor: pointer;
            }
        }
    }

    .table-page-box {
        flex: 1;
        height: 0;
    }
}
