.task-menu-icon {
    position: relative;

    .loading {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        .common-loading {
            margin: 0;
            width: 14px;
            height: 14px;
        }
    }

    .ivu-icon {
        cursor: pointer;
        font-size: 16px;
        color: #cccccc;

        &.completed {
            color: $primary-color;
        }
    }
}

.task-menu-more-dropdown {
    > li {
        &.task-menu-more-warp {
            list-style: none;

            > ul {
                max-height: 320px;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none
                }

                > li {
                    .item {
                        display: flex;
                        align-items: center;

                        > i {
                            flex-shrink: 0;
                            width: 18px;
                            height: 18px;
                            line-height: 18px;
                            font-size: 18px;
                            margin-right: 8px;
                            padding: 0;
                            color: #bbbbbb;

                            &.ivu-icon {
                                font-size: 16px;
                            }
                        }
                    }

                    .flow {
                        padding: 4px 0;

                        > i {
                            margin-right: 3px;

                            &.check {
                                color: $primary-color;
                            }
                        }

                        .flow-name {
                            border-radius: 4px;
                            white-space: nowrap;
                            padding: 0 5px;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                            background: #f4f4f4;
                            color: #595959;

                            &.start {
                                background-color: rgba($flow-status-start-color, 0.1);
                                border-color: rgba($flow-status-start-color, 0.1);
                                color: $flow-status-start-color;
                            }
                            &.progress {
                                background-color: rgba($flow-status-progress-color, 0.1);;
                                border-color: rgba($flow-status-progress-color, 0.1);;
                                color: $flow-status-progress-color;
                            }
                            &.test {
                                background-color: rgba($flow-status-test-color, 0.1);;
                                border-color: rgba($flow-status-test-color, 0.1);;
                                color: $flow-status-test-color;
                            }
                            &.end {
                                background-color: rgba($flow-status-end-color, 0.1);;
                                border-color: rgba($flow-status-end-color, 0.1);;
                                color: $flow-status-end-color;
                            }
                        }
                    }

                    &.load-flow {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px;

                        .load-flow-warp {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            &.medium {
                > ul {
                    > li {
                        .flow {
                            .flow-name {
                                height: 24px;
                                line-height: 24px;
                                padding: 0 7px;
                            }
                        }
                    }
                }
            }

            &.large {
                > ul {
                    > li {
                        .flow {
                            .flow-name {
                                font-size: 13px;
                                height: 30px;
                                line-height: 30px;
                                padding: 0 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}
