.task-exist-tips {

    .ivu-modal-body {
        padding: 0 26px 16px 26px !important;
        max-height: 500px;
        overflow: auto;
    }

    .list-content {
        flex: 1;
        width: 100%;
    }

    .list-task {
        margin-left: 22px;
        margin-top: 10px;
    }

    .list-task-info {
        float: left;
        padding: 0 12px;
        span:first-child {
            color: #A7ABB5;
        }
    }

    .list-task-date {
        float: right;
    }
}
