.task-operation-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    z-index: -1;

    .task-operation-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.task-operation-more-dropdown {
    > li {
        &.task-operation-more-warp {
            list-style: none;

            > ul {
                max-height: 320px;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none
                }

                > li {
                    .item {
                        display: flex;
                        align-items: center;

                        > i {
                            flex-shrink: 0;
                            width: 18px;
                            height: 18px;
                            line-height: 18px;
                            font-size: 18px;
                            margin-right: 8px;
                            padding: 0;
                            color: #bbbbbb;

                            &.ivu-icon {
                                font-size: 16px;
                            }

                            &.movefont {
                                font-size: 14px;
                            }

                            &.taskfont {
                                text-align: center;
                            }
                        }
                    }

                    .flow {
                        padding: 4px 0;

                        > i {
                            margin-right: 3px;

                            &.check {
                                color: $primary-color;
                            }
                        }

                        .flow-name {
                            border-radius: 4px;
                            white-space: nowrap;
                            padding: 0 5px;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                            background: #f4f4f4;
                            color: #595959;

                            &.start {
                                background-color: rgba($flow-status-start-color, 0.1);
                                border-color: rgba($flow-status-start-color, 0.1);
                                color: $flow-status-start-color;
                            }
                            &.progress {
                                background-color: rgba($flow-status-progress-color, 0.1);
                                border-color: rgba($flow-status-progress-color, 0.1);
                                color: $flow-status-progress-color;
                            }
                            &.test {
                                background-color: rgba($flow-status-test-color, 0.1);
                                border-color: rgba($flow-status-test-color, 0.1);
                                color: $flow-status-test-color;
                            }
                            &.end {
                                background-color: rgba($flow-status-end-color, 0.1);
                                border-color: rgba($flow-status-end-color, 0.1);
                                color: $flow-status-end-color;
                            }
                        }
                    }

                    &.load-flow {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px;

                        .load-flow-warp {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            &.medium {
                > ul {
                    > li {
                        .flow {
                            .flow-name {
                                height: 24px;
                                line-height: 24px;
                                padding: 0 7px;
                            }
                        }
                    }
                }
            }

            &.large {
                > ul {
                    > li {
                        .flow {
                            .flow-name {
                                font-size: 13px;
                                height: 30px;
                                line-height: 30px;
                                padding: 0 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}
