.task-add {
    .task-add-form,
    .task-add-advanced {
        .title {
            .ivu-input {
                font-weight: 500;
                font-size: 24px;
                padding: 4px 0;
                line-height: 1.4;
                resize: none;
                border-color: transparent;
                &:focus {
                    box-shadow: none
                }
            }
        }
        .desc {
            margin-top: 24px;
            div[contenteditable="true"] {
                outline: none
            }
            .mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
                color: #bbbbbb;
            }
        }
        .advanced-option {
            margin-top: 42px;
            z-index: 1;
            display: flex;
            align-items: center;
            > button {
                transition: margin 0.2s;
                &.advanced {
                    margin-left: 24px;
                }
                &:focus {
                    box-shadow: none;
                }
            }
            .advanced-priority {
                display: flex;
                align-items: center;
                margin-left: 24px;
                height: 34px;
                > li {
                    list-style: none;
                    margin-left: 3px;
                    .taskfont {
                        font-size: 34px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .task-add-advanced {
        margin: -16px 0 0;
        padding: 46px 32px 6px;
        border-radius: 8px;
        border: 1px solid #e8e8e8;
        .subtasks {
            margin-bottom: 24px;
            padding: 12px 16px;
            border-radius: 6px;
            background-color: #f8f8f8;
            .enter-input {
                &.empty {
                    .ivu-input {
                        background: transparent;
                        border-color: transparent;
                        &:hover,
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
            .sublist {
                .ivu-row {
                    margin-bottom: 12px;
                    > div {
                        padding-right: 7px;
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        .ivu-date-picker {
            width: 100%;
        }
    }
    .ivu-modal-footer {
        padding: 26px 0 22px !important;
    }
}
.task-add-advanced-transfer {
    .task-drop-prepend {
        text-align: center;
        color: #c5c8ce;
        line-height: 20px;
        padding-bottom: 5px;
        font-size: 12px;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 5px;
    }
}
