.update-log {
    .uplog-head {
        display: flex;
        align-items: center;
        .uplog-title {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            color: $primary-title-color;
            font-weight: 500;
            margin-right: 6px;
        }
    }
    .ivu-modal-body {
        padding: 0 32px !important;
        .uplog-body {
            max-height: 240px;
            .markdown-preview {
                margin: -20px -12px;
                h1 {
                    font-size: 24px;
                    margin-bottom: 12px;
                    &:first-child {
                        padding-top: 0;
                    }
                }
                h2 {
                    font-size: 18px !important;
                    padding-top: 2px !important;
                }
                ul {
                    li {
                        padding: 2px 0 2px 2px !important;
                        &:after {
                            top: 10px !important;
                            width: 6px !important;
                            height: 6px !important;
                        }
                    }
                }
            }
        }
    }
    .ivu-modal-fullscreen {
        .ivu-modal-body {
            padding: 0 16px !important;
            margin: 16px 0 !important;
            .uplog-body {
                max-height: none;
                overflow-x: auto;
                .markdown-preview {
                    margin: 0;
                }
            }
        }
    }
}
