.common-user-detail-modal {
    .ivu-modal {
        max-width: 90%;

        &.ivu-modal-fullscreen {
            max-width: none;

            .ivu-modal-content {
                margin-top: calc(var(--status-bar-height) + 46px);
                margin-bottom: 0;
                border-top-left-radius: 18px !important;
                border-top-right-radius: 18px !important;

                .ivu-modal-body {
                    .user-detail-body {
                        padding-bottom: var(--navigation-bar-height);
                    }
                }
            }
        }

        .ivu-modal-content {
            overflow: hidden;

            .ivu-modal-body {
                padding: 0 !important;
                display: flex;
                flex-direction: column;

                .user-detail-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    padding: 84px 24px;

                    .avatar-wrapper {
                        cursor: pointer;
                    }

                    > ul {
                        width: 80%;

                        > li {
                            list-style: none;
                            display: flex;
                            justify-content: center;
                            margin: 12px auto;

                            &.user-name {
                                align-items: center;
                            }

                            > em {
                                font-style: normal;
                                &.disabled,
                                &.deleted {
                                    display: inline-block;
                                    margin-left: 2px;
                                    white-space: nowrap;
                                    font-size: 12px;
                                    height: 20px;
                                    line-height: 20px;
                                    padding: 0 6px;
                                    border-radius: 3px;
                                    transform: scale(0.9);
                                    transform-origin: right center;
                                    color: #ffffff;
                                    background-color: #ED4014;
                                }
                            }

                            > span {
                                flex-shrink: 0;
                                opacity: 0.8;
                                padding-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
