.dialog-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 1;
    .dialog-title {
        display: flex;
        align-items: center;
        padding: 0 32px;
        margin-top: 20px;
        > h2 {
            font-size: 18px;
            font-weight: 600;
        }
        > em {
            font-style: normal;
            font-size: 17px;
            font-weight: 500;
            padding-left: 6px;
        }
    }
    .dialog-chat {
        flex: 1;
        padding: 0 32px;
        margin-top: 18px;
    }
    .dialog-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 28px;
        margin-bottom: 20px;
        .dialog-newmsg {
            display: none;
            height: 30px;
            line-height: 30px;
            color: #ffffff;
            font-size: 12px;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 0 12px;
            margin-bottom: 20px;
            margin-right: 10px;
            border-radius: 16px;
            cursor: pointer;
            z-index: 2;;
        }
        .dialog-input {
            background-color: #F4F5F7;
            padding: 10px 12px;
            border-radius: 10px;
            .ivu-input {
                border: 0;
                resize: none;
                background-color: transparent;
                &:focus {
                    box-shadow: none;
                }
            }
        }
        .chat-upload {
            display: none;
            width: 0;
            height: 0;
            overflow: hidden;
        }
        &.newmsg {
            margin-top: -50px;
            .dialog-newmsg {
                display: block;
            }
        }
    }
    .drag-over {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.78);
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            content: "";
            position: absolute;
            top: 16px;
            left: 16px;
            right: 16px;
            bottom: 16px;
            border: 2px dashed #7b7b7b;
            border-radius: 12px;
        }
        .drag-text {
            padding: 12px;
            font-size: 18px;
            color: #666666;
        }
    }
}
