$--tooltip-fill: #585E6A;
$--tooltip-border-color: #585E6A;
$--tooltip-font-size: 14px;

@import "~element-ui/packages/theme-chalk/src/common/transition";
@import "~element-ui/packages/theme-chalk/src/tooltip";
@import "~element-ui/packages/theme-chalk/src/dropdown";
@import "~element-ui/packages/theme-chalk/src/dropdown-menu";
@import "~element-ui/packages/theme-chalk/src/dropdown-item";


.el-dropdown-menu__item {
    min-width: 100px;
    line-height: 34px;
    .item {
        &.red {
            color: #f00;
            > i {
                color: #f00;
            }
        }
        &:hover {
            &.red {
                > i {
                    color: #f00;
                }
            }
        }
    }
}

.el-dropdown-menu__item--divided:before {
    height: 5px;
}

.el-tooltip__popper.is-light[x-placement^="bottom"] {
    border-width: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    .popper__arrow {
        border-bottom-color: hsla(0, 0%, 85%, .5);
    }
}
