$--tooltip-fill: #585E6A;
$--tooltip-border-color: #585E6A;
$--tooltip-font-size: 14px;

$--dropdown-menuItem-hover-fill: #f4f5f7;
$--dropdown-menuItem-hover-color: #606266;

@import "~element-ui/packages/theme-chalk/src/common/transition";
@import "~element-ui/packages/theme-chalk/src/icon";
@import "~element-ui/packages/theme-chalk/src/avatar";
@import "~element-ui/packages/theme-chalk/src/tooltip";
@import "~element-ui/packages/theme-chalk/src/popover";
@import "~element-ui/packages/theme-chalk/src/dropdown";
@import "~element-ui/packages/theme-chalk/src/dropdown-menu";
@import "~element-ui/packages/theme-chalk/src/dropdown-item";
@import "~element-ui/packages/theme-chalk/src/notification";


.el-dropdown-menu__item {
    min-width: 100px;
    .item {
        &.red {
            color: #f00 !important;
            > i {
                color: #f00 !important;
            }
        }
    }
}

.el-dropdown-menu__item--divided:before {
    height: 5px;
}

.el-tooltip__popper {
    &.is-light {
        border-width: 0;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        &[x-placement^="top"] {
            .popper__arrow {
                border-top-color: hsla(0, 0%, 85%, .5);
            }
        }
        &[x-placement^="bottom"] {
            .popper__arrow {
                border-bottom-color: hsla(0, 0%, 85%, .5);
            }
        }
        &[x-placement^="left"] {
            .popper__arrow {
                border-left-color: hsla(0, 0%, 85%, .5);
            }
        }
        &[x-placement^="right"] {
            .popper__arrow {
                border-right-color: hsla(0, 0%, 85%, .5);
            }
        }
    }
}

.el-popover {
    border-width: 0;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}
