.app-view-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        text-align: center;

        > div {
            color: #ccc;
            margin: 0;
            font: 11px verdana;
            line-height: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        > span {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            margin: 2px;
            background: #007DB6;
            border-radius: 8px;
            animation: app-view-loadanim 1s infinite alternate;

            &:nth-of-type(2) {
                background: #008FB2;
                animation-delay: 0.2s;
            }

            &:nth-of-type(3) {
                background: #009B9E;
                animation-delay: 0.4s;
            }

            &:nth-of-type(4) {
                background: #00A77D;
                animation-delay: 0.6s;
            }

            &:nth-of-type(5) {
                background: #00B247;
                animation-delay: 0.8s;
            }

            &:nth-of-type(6) {
                background: #5AB027;
                animation-delay: 1.0s;
            }

            &:nth-of-type(7) {
                background: #A0B61E;
                animation-delay: 1.2s;
            }
        }

        @keyframes app-view-loadanim {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
