*[hidden="hidden"] {
    display: none !important;
}

.icon-loading {
    animation: icon-loading-load 0.6s infinite linear;
}

@keyframes icon-loading-load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    .ivu-input,
    .ivu-select-selection {
        border-color: #e8e8e8;
    }
}

.ivu-modal-wrap {
    &.simple-modal {
        .ivu-modal {
            top: 100px;
            padding-bottom: 100px;
            @media (max-height: 900px) {
                top: 35px;
                padding-bottom: 35px;
            }
            &.ivu-modal-fullscreen {
                top: 0;
            }
            .ivu-modal-header,
            .ivu-modal-footer {
                border-color: transparent;
            }

            .ivu-modal-header {
                padding: 22px 24px 20px;
                .ivu-modal-header-inner {
                    font-size: 18px;
                }
            }
            .ivu-modal-body {
                padding: 16px 32px 2px;
            }
            .ivu-modal-footer {
                padding: 20px 30px 22px;
                .ivu-btn {
                    height: 34px;
                    line-height: 32px;
                    min-width: 94px;
                }
            }
            .ivu-modal-content {
                border-radius: 18px;
                .ivu-modal-close {
                    .ivu-icon-ios-close {
                        font-size: 38px;
                        top: 3px;
                        right: 2px;
                        transition: all 0.2s;
                    }
                    &:hover {
                        .ivu-icon-ios-close {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }

        .form-network-add-tabs {
            .ivu-tabs-tabpane {
                padding: 10px 6px 0;
            }
        }
        .form-network-add-in-out {
            padding: 0 6px;
            .select-in-type {
                span.ivu-radio {
                    display: none;
                }
                .select-in-type-item-checked {
                    color: #2d8cf0;
                    border: 1px solid #2d8cf0 !important;
                }
                .select-in-type-item {
                    display: flex;
                    align-items: center;
                    min-width: 90px;
                    border: 1px solid #E8EBEE;
                    border-radius: 4px;
                    padding: 0 12px;
                    margin: 0 8px 0 0;
                    > span {
                        flex: 1;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    .select-in-type-icon {
                        margin-left: 12px;
                    }
                }
            }
            .select-in-node {
                margin-top: 18px;
            }
        }
    }
    .ivu-modal-confirm {
        .ivu-modal-confirm-body {
            > div {
                word-break: break-all;
            }
        }
    }
}

.modal-info-show {
    display: flex;
    .column {
        color: #6D6D6D;
        margin: 5px 0;
        min-width: 70px;
        max-width: 100px;
        text-align: right;
    }
    .value {
        flex: 1;
        width: 0;
        color: #414141;
        margin: 5px 0 5px 5px;
        word-break: break-all;
    }
}

.ivu-select-dropdown {
    max-height: 360px;
    &.select-node {
        .ivu-select-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .option-title {
                flex: 1;
            }
            .ivu-tag {
                margin-left: 18px;
                margin-right: 0;
                transform: scale(0.9);
                transform-origin: right center;
            }
        }
    }
}

.ivu-tooltip-popper {
    .ivu-tooltip-inner {
        white-space: normal;
    }
}

.ivu-table {
    table {
        width: 100% !important;
        .ivu-table-cell {
            padding-left: 12px;
            padding-right: 12px;
        }
        thead {
            .ivu-table-cell {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        tbody {
            .tree-icon-loading {
                .ivu-table-cell {
                    display: flex;
                    align-items: center;
                    .ivu-table-cell-tree {
                        margin-right: 6px;
                    }
                }
            }
        }
    }
    .td-ellipsis {
        display: flex;
        align-items: center;
        max-width: 100%;
        .remark-text {
            overflow: hidden;
            text-overflow: ellipsis;
            align-items: center;
            white-space: nowrap;
            height: 20px;
            line-height: 20px;
            margin-right: 6px;
        }
        .remark-icon {
            display: none;
            font-size: 16px;
            cursor: pointer;
        }
        .remark-tag {
            display: inline-block;
            height: 22px;
            line-height: 22px;
            margin: 2px 4px 2px 0;
            border: 1px solid #e8eaec;
            border-radius: 3px;
            background: #f7f7f7;
            font-size: 12px;
            vertical-align: middle;
            opacity: 1;
            color: #515a6e;
            padding: 0 4px;
            white-space: nowrap;
            overflow: visible;
            &.pointer-tag {
                cursor: pointer;
                color: #1890ff;
                background: #e6f7ff;
                border-color: #91d5ff;
            }
        }
        .icon-tooltip {
            .ivu-tooltip-rel {
                display: flex;
                align-items: center;
            }
        }
    }
    .td-action {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        .td-action-container {
            display: inline-block;
            a {
                font-size: 12px;
                padding: 0 5px;
            }
        }
    }
    .ivu-table-row-hover {
        &:hover {
            .td-ellipsis {
                .remark-icon {
                    display: inline-block;
                }
            }
        }
    }
    &:before {
        background-color: #efefef;
    }
}
.auto-height-top {
    .ivu-table {
        .ivu-table-body {
            table {
                td {
                    height: auto;
                    vertical-align: top;
                    .ivu-table-cell {
                        display: flex;
                        align-items: center;
                        min-height: 48px;
                        padding: 8px 12px;
                        .node-line {
                            max-width: 100%;
                            .td-ellipsis {
                                .remark-line {
                                    margin: 2px 6px 2px 0;
                                    &:hover {
                                        border-color: #888;
                                    }
                                }
                                .remark-tag {
                                    margin: 0;
                                    transform: scale(0.8);
                                }
                                .remark-icon {
                                    cursor: pointer;
                                    &:hover {
                                        color: #2d8cf0;
                                    }
                                    .ivu-icon {
                                        vertical-align: unset;
                                        transform: scale(1.2);
                                        &.ivu-icon-md-remove-circle {
                                            background-image: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNjIxMDAxMDg0MzAxIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjE4NjUiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ij48cGF0aCBkPSJNNTEyIDUxMm0tNTEyIDBhNTEyIDUxMiAwIDEgMCAxMDI0IDAgNTEyIDUxMiAwIDEgMC0xMDI0IDBaIiBmaWxsPSIjRkZGRkZGIiBwLWlkPSIxODY2Ij48L3BhdGg+PHBhdGggZD0iTTUxMiAwYTUxMiA1MTIgMCAxIDAgMCAxMDI0QTUxMiA1MTIgMCAwIDAgNTEyIDB6IG0zODQgNTEyYzAgODIuNzM5Mi0yNi40MTkyIDE1OS4zMzQ0LTcxLjA2NTYgMjIyLjEwNTZMMjg5Ljg5NDQgMTk5LjA2NTZBMzgxLjc0NzIgMzgxLjc0NzIgMCAwIDEgNTEyIDEyOCAzODQuNDA5NiAzODQuNDA5NiAwIDAgMSA4OTYgNTEyeiBtLTc2OCAwYzAtODMuMzUzNiAyNi43MjY0LTE2MC40NjA4IDcxLjk4NzItMjIzLjQzNjhsNTM1LjU1MiA1MzUuMzQ3MkEzODEuNzQ3MiAzODEuNzQ3MiAwIDAgMSA1MTIgODk2IDM4NC40MDk2IDM4NC40MDk2IDAgMCAxIDEyOCA1MTJ6IiBmaWxsPSIjZmYwMDAwIiBwLWlkPSIxODY3IiBkYXRhLXNwbS1hbmNob3ItaWQ9ImEzMTN4Ljc3ODEwNjkuMC5pMCIgY2xhc3M9InNlbGVjdGVkIj48L3BhdGg+PC9zdmc+");
                                            background-repeat: no-repeat;
                                            width: 12px;
                                            height: 12px;
                                            background-size: 94%;
                                            background-position: center;
                                            vertical-align: text-top;
                                            &:before {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                .node-signal-box {
                                    margin-left: 1px;
                                    .node-ping-value {
                                        margin-left: 2px;
                                    }
                                }
                                .ivu-table-cell-tooltip {
                                    width: auto;
                                    .ivu-tooltip-rel {
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.task-add {
    .task-add-form,
    .task-add-advanced {
        margin: 0 0 -18px;
        .ivu-form-item-label {
            font-weight: 600;
        }
        .teditor-box {
            .tox-tinymce {
                border-color: #e8e8e8;
            }
            .tox .tox-statusbar,
            .tox .tox-menubar+.tox-toolbar,
            .tox .tox-menubar+.tox-toolbar-overlord .tox-toolbar__primary,
            .tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
                border-color: #e8e8e8;
            }
            .tox .tox-toolbar,
            .tox .tox-toolbar__overflow,
            .tox .tox-toolbar__primary {
                background-image: none;
                border-bottom: 1px solid #e8e8e8;
            }
        }
        .advanced-option {
            margin-top: -6px;
            z-index: 1;
            display: flex;
            align-items: center;
            > button {
                transition: margin 0.2s;
                &.advanced {
                    margin-left: 22px;
                }
                &:focus {
                    box-shadow: none;
                }
            }
            .advanced-priority {
                display: flex;
                align-items: center;
                margin-left: 24px;
                > li {
                    list-style: none;
                    margin-left: 3px;
                    .ivu-tooltip {
                        display: flex;
                        align-items: center;
                        .ivu-tooltip-rel {
                            height: 34px;
                            line-height: 1;
                            .iconfont {
                                font-size: 34px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .task-add-advanced {
        margin: 1px 0 0;
        padding: 34px 32px 6px;
        border-radius: 8px;
        border: 1px solid #e8e8e8;
        .subtasks {
            margin-bottom: 24px;
            padding: 12px 16px;
            border-radius: 6px;
            background-color: #f8f8f8;
            .enter-input {
                .ivu-input {
                    background: transparent;
                    border-color: transparent;
                    &:hover,
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
            .sublist {
                .ivu-row {
                    margin-bottom: 12px;
                    > div {
                        padding-right: 7px;
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        .ivu-date-picker {
            width: 100%;
        }
    }
}
.task-add-advanced-transfer {
    .task-drop-prepend {
        text-align: center;
        color: #c5c8ce;
        line-height: 20px;
        padding-bottom: 5px;
        font-size: 12px;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 5px;
    }
}

.common-user {
    position: relative;
    .common-user-loading {
        position: absolute;
        top: 2px;
        bottom: 0;
        right: 10px;
        display: flex;
        align-items: center;
        .common-loading {
            width: 14px;
            height: 14px;
        }
    }
    &.hidden-input {
        .ivu-select-selection {
            padding: 0 4px;
            .ivu-select-input {
                display: none;
            }
        }
    }
}

.common-avatar {
    position: relative;
    .avatar-wrapper {
        display: flex;
        align-items: center;
        .avatar-box {
            position: relative;
            .avatar-text {
                background-color: #87d068;
            }
            &:before {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #ff0000;
                border: 1px solid #ffffff;
                z-index: 1;
            }
            &.online {
                &:before {
                    background-color: #87d068;
                }
            }
        }
        .avatar-name {
            padding-left: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.common-user-transfer {
    .user-input-option {
        display: flex;
        align-items: center;
        .user-input-avatar {
            .ivu-avatar {
                width: 26px;
                height: 26px;
            }
        }
        .user-input-nickname {
            margin-left: 10px;
            flex: 1;
        }
        .user-input-userid {
            margin-left: 10px;
            font-size: 12px;
            color: #cccccc;
            transition: margin 0.1s;
        }
    }
    .ivu-select-item {
        &.ivu-select-item-selected {
            &:after {
                top: 8px;
            }
            .user-input-option {
                .user-input-userid {
                    margin-right: 16px;
                }
            }
        }
    }
    .user-drop-prepend {
        text-align: center;
        color: #c5c8ce;
        line-height: 20px;
        padding-bottom: 5px;
        font-size: 12px;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 5px;
    }
}

// tinymce
.teditor-box,
.teditor-transfer {
    .tox {
        &.tox-silver-sink {
            z-index: 13000;
        }
    }
}

.teditor-box {
    textarea {
        opacity: 0;
    }

    .tox-tinymce {
        box-shadow: none;
        box-sizing: border-box;
        border-color: #dddee1;
        border-radius: 4px;
        overflow: hidden;

        .tox-statusbar {
            span.tox-statusbar__branding {
                a {
                    display: none;
                }
            }
        }
    }
}

.teditor-transfer {
    background-color: #ffffff;

    .tox-toolbar {
        > div:last-child {
            > button:last-child {
                margin-right: 64px;
            }
        }
    }

    .ivu-modal-header {
        display: none;
    }

    .ivu-modal-close {
        top: 7px;
        z-index: 2;
    }

    .teditor-transfer-body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

        textarea {
            opacity: 0;
        }

        .tox-tinymce {
            border: 0;

            .tox-statusbar {
                span.tox-statusbar__branding {
                    a {
                        display: none;
                    }
                }
            }
        }
    }
}

.setting-item {
    .ivu-input,
    .ivu-select-selection {
        max-width: 460px;
    }
    .form-tip {
        color: #999999;
    }
    .setting-color {
        max-width: 600px;
        margin-bottom: 12px;
        > div {
            text-align: center;
            padding-right: 12px;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                padding-right: 0;
                width: 60px;
                flex: auto;
                flex-shrink: 0;
                max-width: 60px;
            }
            .ivu-color-picker {
                width: 100%;
            }
        }
        .information {
            color: #999999;
        }
    }
    .setting-footer {
        > button {
            height: 34px;
            line-height: 32px;
            min-width: 94px;
        }
    }
    &.submit {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .setting-footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            padding: 16px 24px 0;
            border-top: 1px solid #F4F4F5;
        }
    }
}

.dialog-scroller {
    position: relative;
    overflow: auto;
    .dialog-list {
        > ul {
            > li {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                list-style: none;
                margin-bottom: 16px;
                .dialog-avatar {
                    position: relative;
                    margin-bottom: 20px;
                    flex-shrink: 0;
                }
                .dialog-view {
                    max-width: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 0 0 8px;
                    .dialog-content {
                        color: #333333;
                        background-color: #F4F5F7;
                        padding: 8px;
                        border-radius: 6px 6px 6px 0;
                        &.loading {
                            display: flex;
                            .common-loading {
                                width: 20px;
                                height: 20px;
                                margin: 4px;
                            }
                        }
                        &.file {
                            display: inline-block;
                            .file-box {
                                background-color: #ffffff;
                                display: flex;
                                align-items: center;
                                padding: 10px 14px;
                                border-radius: 3px;
                                width: 220px;
                                .file-thumb {
                                    width: 36px;
                                }
                                .file-info {
                                    margin-left: 12px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .file-name {
                                        color: #333333;
                                        font-size: 14px;
                                        line-height: 18px;
                                        word-break: break-all;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                    }
                                    .file-size {
                                        padding-top: 4px;
                                        color: #666666;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        &.img {
                            padding: 0;
                            display: flex;
                            max-width: 220px;
                            max-height: 220px;
                            border-radius: 6px;
                            background-color: transparent;
                            overflow: hidden;
                            .file-img {
                                display: flex;
                            }
                        }
                        &.unknown {
                            text-decoration: underline;
                        }
                    }
                    .dialog-foot {
                        display: flex;
                        align-items: center;
                        padding-top: 4px;
                        height: 21px;
                        line-height: 1;
                        .common-loading {
                            margin: 0 2px;
                            width: 10px;
                            height: 10px;
                        }
                        .time {
                            color: #bbbbbb;
                            font-size: 12px;
                        }
                        .done {
                            display: none;
                            margin-left: 4px;
                            transform: scale(0.9);
                            font-size: 12px;
                            color: #87d068;
                        }
                        .percent {
                            display: none;
                            margin-left: 4px;
                            cursor: pointer;
                        }
                    }
                }
                &.loading {
                    padding: 12px 0;
                    justify-content: center;
                    .common-loading {
                        margin: 0;
                        width: 18px;
                        height: 18px;
                    }
                }
                &.nothing {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #999999;
                }
                &.bottom {
                    height: 0;
                    margin: 0;
                    padding: 0;
                }
                &.self {
                    flex-direction: row-reverse;
                    .dialog-view {
                        align-items: flex-end;
                        margin: 0 8px 0 0;
                        .dialog-content {
                            color: #ffffff;
                            background-color: #2d8cf0;
                            border-radius: 6px 6px 0 6px;
                            &.file {
                                background-color: #F4F5F7;
                            }
                            &.img {
                                border-radius: 6px;
                                background-color: transparent;
                            }
                        }
                        .dialog-foot {
                            .done {
                                display: inline-block;
                            }
                            .percent {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dialog-readbox {
    display: flex;
    position: relative;
    .read,
    .unread {
        flex: 1;
        max-height: 300px;
        overflow: auto;
        > li {
            list-style: none;
            margin-bottom: 12px;
            .common-avatar {
                width: 100%;
            }
            &:last-child {
                margin-bottom: 6px;
            }
            &.read-title {
                > em {
                    font-size: 18px;
                    font-weight: 600;
                    font-style: normal;
                    padding-right: 6px;
                }
            }
        }
    }
    .unread {
        > li {
            padding-left: 16px;
        }
    }
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #F4F4F5;
    }
}

.dialog-wrapper {
    flex: 1;
    display: flex;
    align-items: flex-start;
    .dialog-select {
        position: relative;
        height: 100%;
        width: 30%;
        min-width: 240px;
        max-width: 320px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            background-color: #f2f2f2;
        }
        .dialog-search {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 54px;
            padding: 0 12px;
            flex-shrink: 0;
            .ivu-input {
                border-color: transparent;
                &:hover,
                &:focus {
                    box-shadow: none;
                }
            }
        }
        .dialog-list {
            flex: 1;
            height: 0;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            > ul {
                > li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 86px;
                    padding: 0 12px;
                    position: relative;
                    cursor: pointer;
                    &.active {
                        background-color: #F4F5F7;
                    }
                    .common-avatar {
                        flex-grow: 0;
                        flex-shrink: 0;
                    }
                    .group-avatar {
                        width: 46px;
                        height: 46px;
                        line-height: 46px;
                        border-radius: 50%;
                        font-size: 26px;
                        background-color: #61B2F9;
                        color: #ffffff;
                        flex-grow: 0;
                        flex-shrink: 0;
                    }
                    .user-msg-box {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        padding-left: 12px;
                        .user-msg-title {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            line-height: 24px;
                            > span {
                                flex: 1;
                                max-width: 130px;
                                color: #333333;
                                font-size: 14px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            > em {
                                font-style: normal;
                                color: #999999;
                                font-size: 12px;
                                padding-left: 10px;
                            }
                        }
                        .user-msg-text {
                            max-width: 170px;
                            color: #999999;
                            font-size: 12px;
                            line-height: 24px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .user-msg-num {
                        position: absolute;
                        top: 12px;
                        left: 38px;
                        font-size: 12px;
                        .ivu-badge-count {
                            height: 18px;
                            min-width: 18px;
                            line-height: 16px;
                            padding: 0 4px;
                        }
                    }
                }
            }
        }
        .dialog-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 54px;
            flex-shrink: 0;
            border-top: 1px solid #f2f2f2;
            > i {
                cursor: pointer;
                font-size: 28px;
                margin: 0 24px;
                color: #aaaaaa;
                opacity: 0.9;
                &.active {
                    opacity: 1;
                    color: #2d8cf0;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .dialog-msg {
        flex: 1;
        width: 0;
        height: 100%;
    }
}
