:root {
    --window-width: 100vw;
    --window-height: 100vh;
    --window-scroll-y: 0px;
    --status-bar-height: 0px;
    --status-bar-color: #ffffff;
    --navigation-bar-height: 0px;
    --navigation-bar-color: #ffffff;
}
