.overlay-y {
    overflow-y: overlay !important;

    /* 滚动条美化 */
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /*滚动条滑块隐藏*/
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0);
    }

    /*按下滚动条，颜色加深*/
    &::-webkit-scrollbar-thumb:active {
        border-radius: 10px;
        background: rgba(0, 0, 0, .5);
    }

    /*鼠标浮到容器上，让该容器的滚动条滑块显示*/
    &:hover::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background: rgba(0, 0, 0, .2);
        background-clip: content-box;
    }

    /*鼠标浮到容器上，让该容器的滚动条滑块显示*/
    &:hover::-webkit-scrollbar-thumb:hover {
        border-top-width: 0;
        border-bottom-width: 0;
    }

    /*滚动条轨道*/
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0);
    }
}
.overlay-none {
    &::-webkit-scrollbar {
        display: none;
    }
}
