.app-scroller-y {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .app-scroller-bottom {
        height: 0;
        margin: 0;
        padding: 0;
    }
    &.static {
        position: static;
        flex: 1;
    }
}
