$primary-color: #8bcf70;
$primary-title-color: #303133;
$primary-text-color: #606266;

$flow-status-archived-color: #7f7f7f;
$flow-status-start-color: #FF7070;
$flow-status-progress-color: #fc984b;
$flow-status-test-color: #2f99ec;
$flow-status-end-color: #0bc037;
