@charset "utf-8";
/*
*Author zhaoxuhui
*/
// 默认风格
/deep/ .markdown-theme-light{
    pre {
        font-size: 14px !important;
        line-height: 1.6 !important;
        word-break: break-all;
        word-wrap: break-word;
        border: 0 !important;
        border-radius: 0 !important;
        background: #f7f8fb !important;
        padding: 20px 10px!important;
        border-radius: 4px !important;
        overflow-y: hidden !important;
        overflow-x: auto !important;
        margin: 10px 0 !important;

        code {
            line-height: @line-height !important;
            font-family: Consolas !important;
            font-size: 13px;
            line-height: @line-height !important;
            color: #444;
        }
    }

    * {
        //-webkit-font-smoothing: antialiased;
    }

    .hljs {
        display: block;
        overflow-x: auto;
        color: #525252;
        padding: 15px;
        -webkit-text-size-adjust: none;
    }

    .hljs-doctype {
        color: #999;
    }

    .hljs-tag {
        color: #3e76f6;
    }

    .hljs-attribute {
        color: #e96900;
    }

    .hljs-value {
        color: #42b983;
    }

    .hljs-keyword {
        color: #e96900;
    }

    .hljs-string {
        color: #42b983;
    }

    .hljs-comment {
        color: #b3b3b3;
    }

    .hljs-operator .hljs-comment {
        color: #525252;
    }

    .hljs-regexp {
        color: #af7dff;
    }

    .hljs-built_in {
        color: #2db7f5;
    }

    .css .hljs-class {
        color: #e96900;
    }

    .css .hljs-number,
    .javascript .hljs-number {
        color: #fc1e70;
    }

    .css .hljs-attribute {
        color: #af7dff;
    }

    .css .hljs-important {
        color: red;
    }

    .actionscript .hljs-literal,
    .javascript .hljs-literal {
        color: #fc1e70;
    }

    pre {
        padding: 0;
        margin: 0;
        background: @background !important;
    }

    code {
        display: inline-block;
        background: #f7f7f7;
        font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
        margin: 0 3px;
        padding: 1px 5px;
        border-radius: 3px;
        color: #666;
        border: 1px solid #eee;
    }

    pre code {
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
    }

    pre.bg code {
        background: #f7f7f7;
    }
}
