TZ: "Asia/Shanghai"
LANG: "C.UTF-8"
MODE: "production"

APP_NAME=DooTask
APP_ENV=local
APP_KEY=base64:LykZcPW/FVZfB2DQ79ZY7y197MuI+0fPPAcuwrG0Hz8=
APP_DEBUG=false
APP_SCHEME=auto
APP_URL=http://localhost

APP_IPPR=10.70.143
APP_PORT=2222

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=dootask
DB_USERNAME=dootask
DB_PASSWORD=123456

# LDAP服务器地址
# LDAP_HOSTS=127.0.0.1
# 根路径
# LDAP_BASE_DN=dc=domain,dc=com
# 拥有查询权限的账号，如果LDAP允许匿名查询可以不填
# LDAP_USERNAME=
# 管理员密码，如果LDAP允许匿名查询可以不填
# LDAP_PASSWORD=
# 用于登录的字段名称默认为邮箱地址
# LDAP_AUTH_USERNAME=mail

DB_ROOT_PASSWORD=0b094bd312c3056c
DB_PREFIX=pre_

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

LARAVELS_LISTEN_IP=0.0.0.0
LARAVELS_LISTEN_PORT=20000
