/* 头部样式 */
.nav {
    background-color: var(--pop-bg-color);
    box-shadow: 0px 4px 9px var(--box-shadow-color);
}

.help {
    position: relative;
    margin: 56px 0 96px 0;
    padding-top: 80px;
}

.help-con {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.help-layout {
    display: flex;
    align-items: flex-start;
}

.help-l {
    display: block;
    padding: 24px;
    background: var(--bg-fa-color);
    border-radius: 8px;
    margin-right: 32px;
    height: 95%;
}

.help-h5 {
    color: var(--text-color);
}

.help-l-ul {
    width: 240px;
    overflow: auto;
    height: 82vh;
}

.l-ul-item.active .txt {
    color: var(--txt-theme-color);
}

.l-ul-item.active {
    background-color: var(--bg-hover-color);
    border-radius: 8px;
}

.l-ul-item:hover {
    background: var(--bg-hover-color);
    border-radius: 8px;
}

.txt {
    /* display: inline-block; */
    color: var(--txt-gray-color);
}

.help-r {
    padding-left: 32px;
    position: relative;
}

.help-r::-webkit-scrollbar {
    width: 0 !important
}

.help-pic1 {
    position: relative;
    padding-left: 34px;
    width: auto;
    height: 240px;
    background: var(--txt-theme-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#help-pic1-svg {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.help-pic1-tips {
    max-width: 360px;
}

.help-pic1-tips-h2 {
    color: #fff;
    margin-bottom: 16px;
}

.help-pic1-tips-h6 {
    color: #fff;
}

.help-h4 {
    color: var(--text-color) !important;
}

.help-h6 {
    color: var(--txt-gray-color);
}

.help-h6-bold {
    color: var(--text-color) !important;
}

.r-ul-item-pic1 {
    display: block;
    max-width: 90%;
    margin: 12px 0;
}

.r-ul-item-pic2 {
    display: block;
    height: 418px;
}

.dots {
    background: url(../img/dots.svg) no-repeat;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
}

.help-t-768 {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    background: var(--bg-fa-color);
    border-radius: 8px;
    margin-top: 16px;
    cursor: pointer;
    margin-bottom: 40px;
}

.help-t-prev {
    display: inline-block;
    width: 14px;
    margin-right: 8px;
}

.help-t-tit {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--txt-theme-color);
}

.help-drawer {
    position: fixed;
    top: 0;
    left: -90vw;
    width: 75vw;
    height: 100%;
    padding: 22px 24px;
    background-color: var(--pop-bg-color);
    border: 1px solid var(--box-shadow-color);
    box-shadow: var(--pop-box-shadow);
    transition: all 0.5s ease-in-out;
    z-index: 999;
}

.open-help-drawer {
    left: 0;
}

.help-t-768 {
    display: none;
}

.filings {
    border-top: 1px solid var(--border-color);
}
.help-fiexd{
    position: sticky;
    top: 80px;
}
.help-a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 9px 16px;
    line-height: normal;
}
